In [2]:
import difflib
import itertools
import pandas as pd
import numpy as np
import string
import funcy
import re
import os

In [3]:
CARD_DATA_DIR = os.path.abspath('Data/raw_card_data')
print CARD_DATA_DIR
r1_file = 'delaney_card_info.csv'
r2_file = 'R3_card_info.csv'
r3_file = 'non_double_entered_card_info.csv'

/Users/lrraymond13/MIT/Azoulay_RA_2016/Data/raw_card_data

In [4]:
CLEAN_NAMES = ['clean_first_name', 'clean_middle_name', 'clean_last_name']
NAMES = ['first_name', 'middle_name', 'last_name']
PERSONAL_INFO = [
    'clean_first_name', 'clean_last_name', 'clean_middle_name',
    'date_of_birth', 'medical_school', 'clean_college_trans']

AWARDS_KEYWORDS = ['HONORS', 'AWARD', 'HONOR', 'SOCIETY', 'SCHOLAR', 'AOA', 'PME', 'FNHS', 'ODK']

In [5]:
r1 = pd.read_csv(os.path.join(CARD_DATA_DIR, r1_file), skiprows=1)
r2 = pd.read_csv(os.path.join(CARD_DATA_DIR, r2_file), skiprows=1)
r3 = pd.read_csv(os.path.join(CARD_DATA_DIR, r3_file), skiprows=1)

In [6]:
# check differing columns
print 'Extra r1 columns'
print set(r1.columns) - set(r2.columns)
print 'Extra r2 columns'
print set(r2.columns) - set(r1.columns)

Extra r1 columns
set(['Sixth', 'Unnamed: 61', 'Internship Hospital 1', 'Fifth', 'Internship Year(s)'])
Extra r2 columns
set(['Intership Year(s)', 'Unnamed: 59', 'Intership Hospital 1'])

In [7]:
r1.dropna(how='all', subset=['Sixth', 'Fifth']).loc[:, ['First', 'Second', 'Third', 'Fourth', 'Sixth', 'Fifth']]
# only 16 rows aren't totally blank for the columns fifth and sixth, and these columns are blank for all other honor societies
r1['First'] = r1.loc[(~r1['Fifth'].isnull()), 'Fifth']

In [8]:
# fill in any info from sixth (only 1 row with info)
r1['Second'] = r1.loc[(~r1['Sixth'].isnull()), 'Sixth']

In [9]:
# drop fifth and sixth columns
r1.drop(['Fifth', 'Sixth'], axis=1, inplace=True)

In [10]:
# some duplicate column names exist, find them
sorted(r1.columns)
# rename second column first_name
# rename 1st year graduated undergrad_graduated and second med_graduated
col_rename_dict = {
    'First': 'first_name', 'Last': 'last_name', 'Middle': 'middle_name',
    'First.1': 'honor_societies_first', 'Second': 'honor_societies_second', 
    'Third': 'honor_societies_third', 'Fourth': 'honor_societies_fourth',
    'Year Graduated': 'undergrad_year_grad', 'Year Graduated.1': 'medschool_year_grad'
}
r1.rename(columns=col_rename_dict, inplace=True)
r2.rename(columns=col_rename_dict, inplace=True)
r3.rename(columns=col_rename_dict, inplace=True)
# note that in data set r2 internship is spelled intership, correcting
r2.rename(
    columns={'Intership Year(s)': 'internship year(s)', 'Intership Hospital 1': 'internship hospital 1'}, inplace=True)
# add reviewer column
r1['reviewer'] = 1
r2['reviewer'] = 2
r3['reviewer'] = 3

In [11]:
# append the 2 data sets on top of each other, adding an indicator which reviewer they come from
all_appcards = pd.concat([r1, r2, r3], axis=0)

In [12]:
# verify the lengths of pieces all up to len of new data set
print(r1.shape[0] + r2.shape[0] + r3.shape[0] == all_appcards.shape[0])

True

In [13]:
# change all variable names to lowercase and insert _ instead of spaces
def to_lower(str_var):
    # lowercase, remove extraneous spaces, join with '_'
    lower = str_var.lower()
    return '_'.join(filter(None, lower.split(' ')))

In [14]:
# apply column name cleaning fnc
all_appcards.columns = map(to_lower, all_appcards.columns)

In [15]:
# drop all rows with first, last name NA
all_app_short = all_appcards.dropna(subset=['first_name', 'last_name'], how='all')

In [16]:
def id_poorlyfmtdates(str_date):
    try:
        dt = pd.to_datetime(str_date, format='%m/%d/%Y')
        return True
    except (ValueError, AssertionError):
        return False

In [17]:
mask = all_app_short.application_date.apply(id_poorlyfmtdates)

In [18]:
all_app_short.loc[~mask, :]

,address,age,application_date,associate_program_entered,bob,ca,cc,cord,citizenship,city,...,honor_societies_fourth,honor_societies_second,honor_societies_third,internship_hospital_1,internship_year(s),last_name,medschool_year_grad,middle_name,reviewer,undergrad_year_grad
681,158 Fox Meadow Rd.,NaN,3/31971,NaN,0.0,1,0.0,NaN,NaN,Scarsdale,...,PBK,AOA,Sigma XI,UNIVERSITY OF CALIFORNIA SAN FRANCISCO,1971-72,Clyman,1971,Ian,2,NaN
3317,600 Ford Ave.,NaN,41/8/1966,RA,0.0,1,0.0,1.0,US,Kingston,...,NaN,PBK,NaN,H LEE MOFFITT CANCER CTR & RES INSTITUTE,1966-67,Siegel,1966,Charles,2,NaN

In [19]:
# change '3/31971 to 3/3/1971
# change 41/8/1966 to 4/8/1966 
all_app_short.loc[all_app_short.application_date=='3/31971', 'application_date'] = '3/3/1971'
all_app_short.loc[all_app_short.application_date=='41/8/1966', 'application_date'] = '4/8/1966'

/Users/lrraymond13/.virtualenvs/ds3/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [20]:
# convert application date to date object
all_app_short.loc[:, 'application_date_dt'] = all_app_short.loc[:, 'application_date'].apply(lambda x: pd.to_datetime(x, format='%m/%d/%Y'))

/Users/lrraymond13/.virtualenvs/ds3/lib/python2.7/site-packages/pandas/core/indexing.py:288: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [21]:
# do the same date check for birth date columns
bdate_mask = all_app_short.date_of_birth.apply(id_poorlyfmtdates)
all_app_short.loc[~bdate_mask, ['first_name', 'last_name', 'date_of_birth']]
all_app_short.loc[(
        all_app_short.last_name=='Cook') & 
                  (all_app_short.middle_name=='James') & 
                  (all_app_short.first_name.isnull()), 'date_of_birth'] = '1/27/1940'

In [22]:
# all_app_short.loc[all_app_short.last_name=='Cook', ['first_name', 'last_name', 'middle_name', 'address', 'age', 'date_of_birth']]

In [23]:
# apply a basic string cleaning function to the names- removing all punctuation, changing to all uppercase

def trans_remov_punc(to_change, change_to):
    # removes specified punctuation using string maketrans (very fast, C lookups)
    #returns partially evaluated fnc
    trantab = string.maketrans(to_change, change_to)
    return funcy.func_partial(lambda x: x.translate(trantab))


def standardize_whitespace(pub_str):
    return ' '.join(filter(None, pub_str.split(' ')))


def remove_punc(pub_str):
    # function to remove punctuation
    nonelst = ' '*len(string.punctuation)
    fn = trans_remov_punc(string.punctuation, nonelst)
    new_str = fn(pub_str)
    # standardize spaces
    return standardize_whitespace(new_str)


def clean_names(name):
    # if name is missing, return null
    if pd.isnull(name):
        return np.nan
    # uppercase 
    try:
        upp = name.upper()
        return remove_punc(upp)
    except AttributeError:
        # this should catch any other weird issues, like floats, unicode etc
        print name
        return None

In [24]:
for n in NAMES:
    all_app_short.loc[:, 'clean_{}'.format(n)] = all_app_short.loc[:, n].apply(clean_names)

In [25]:
# pull off suffix in some last names into seperate column
def has_suffix(raw_last_name):
    # a boolean fnc to identify which rows may have a suffix
    last_lst = raw_last_name.split(' ')
    if len(last_lst) == 1:
        # if no white spaces in last name, only 1 word, so no suffix
        return False
    suffixes = ['JR', 'SR', 'I', 'II', 'III', 'IV', 'V', 'VI']
    # want to differentiate between suffix (JR, SR, I, II, III, IV, V) between last names with multiple parts (ex. st john)
    # check if last word in list
    return (last_lst[-1] in suffixes)

In [26]:
def get_suffix(clean_last_name):
    # this assumes the fnc will only be applied to rows id as those with a suffix
    return clean_last_name.split(' ')[-1]

In [27]:
def remove_suffix_from_last_name(last_name_raw):
    non_suffix = last_name_raw.split(' ')[:-1]
    return ' '.join(non_suffix)

In [28]:
suffix_mask = all_app_short.clean_last_name.apply(has_suffix)
# all_app_short.loc[suffix_mask, ['clean_last_name', 'clean_first_name', 'clean_middle_name']]

In [29]:
# for those last names that seem to have a suffix, pull into seperate column and keep everything last word of last name
all_app_short.loc[suffix_mask, 'clean_suffix'] = all_app_short.loc[suffix_mask, 'clean_last_name'].apply(get_suffix)
all_app_short.loc[suffix_mask, 'clean_last_name'] = all_app_short.loc[suffix_mask, 'clean_last_name'].apply(remove_suffix_from_last_name)

In [30]:
# some first names also contain some honors such as 'Pfizer Award' or 'Honor Society'
# these should be pulled into the honors and awards columns
def has_award(raw_name):
    # if the first name has honor or award it it, return True
    if pd.isnull(raw_name):
        return False
    return any(map(lambda x: x in raw_name, AWARDS_KEYWORDS))

In [31]:
# get a list of all the med school honors columns
honors_columns = [c for c in all_app_short.columns if 'honor' in c]
print honors_columns

has_award_mask = all_app_short['clean_first_name'].apply(has_award)

all_app_short.loc[has_award_mask, 'extra_honor'] = all_app_short.loc[has_award_mask, 'clean_first_name']

['honor_societies_first', 'honor_societies_fourth', 'honor_societies_second', 'honor_societies_third']

In [83]:
all_app_short.loc[has_award_mask,:]

,address,age,application_date,associate_program_entered,bob,ca,cc,cord,citizenship,city,...,medschool_year_grad,middle_name,reviewer,undergrad_year_grad,application_date_dt,clean_first_name,clean_middle_name,clean_last_name,clean_suffix,extra_honor
206,9059 East Shorewood Drive,NaN,3/19/1963,NaN,0.0,1,0.0,NaN,US,Mercer Island,...,1963,David,1,NaN,1963-03-19,AOA,DAVID,BANTA,NaN,AOA
251,173 Hubbard Avenue,NaN,4/13/1965,RA,0.0,1,0.0,NaN,US,Stamford,...,1965,Paul,1,NaN,1965-04-13,NATIONAL SCHOLAR AT HARVARD,PAUL,BLASS,NaN,NATIONAL SCHOLAR AT HARVARD
297,5203 Goodnow Road,NaN,3/23/1967,NaN,0.0,1,0.0,1.0,NaN,Baltimore,...,1967,Frederick,1,1964,1967-03-23,AOA,FREDERICK,BRENSIKE,NaN,AOA
820,6748 North Maplewood Avenue,NaN,3/18/1968,NaN,0.0,1,0.0,NaN,NaN,Chicago,...,1968,Byron,1,1964,1968-03-18,HONORS NATIONAL BOARDS,BYRON,DICKLER,NaN,HONORS NATIONAL BOARDS
1214,33 Wildmere Avenue,NaN,6/3/1963,NaN,0.0,1,0.0,NaN,US,Waterbury,...,1963,C.,1,NaN,1963-06-03,JEFFERSON STUDENT RESEARCH SOCIETY,C,GALLO,NaN,JEFFERSON STUDENT RESEARCH SOCIETY
1938,"201 Nob Hill Lane, Apt. 4",NaN,3/30/1968,NaN,0.0,1,0.0,NaN,NaN,Louisville,...,1968,Ronald,1,1964,1968-03-30,AOA,RONALD,KAHN,NaN,AOA
2294,2 Arlington Park,NaN,2/8/1972,NaN,0.0,NaN,0.0,NaN,NaN,Buffalo,...,1972,Joseph,1,NaN,1972-02-08,PFIZER AWARD,JOSEPH,LAWLEY,NaN,PFIZER AWARD
2957,1212 Hill Street,NaN,2/7/1972,NaN,0.0,1,0.0,NaN,NaN,Durham,...,1973,Matija,1,1968,1972-02-07,FNHS,MATIJA,PETERLIN,NaN,FNHS
3048,"550 North Broadway, Apt. 1100",NaN,6/13/1963,CA,0.0,1,0.0,NaN,US,Baltimore,...,1963,A.,1,NaN,1963-06-13,ODK,A,RICHTER,NaN,ODK
3068,Box 278,NaN,5/6/1965,CA,0.0,1,0.0,NaN,US,Bowling Green,...,1965,Young,1,NaN,1965-05-06,RAVEN SOCIETY,YOUNG,REYNOLDS,NaN,RAVEN SOCIETY
3078,3410 South 8th Street,NaN,3/25/1966,NaN,0.0,1,0.0,1.0,US,Arlington,...,1966,Haydon,1,NaN,1966-03-25,AOA,HAYDON,RIDDICK,NaN,AOA
3334,175 East Frambes Avenue,NaN,8/27/1963,RA,0.0,1,0.0,NaN,US,Columbus,...,1962,NaN,1,NaN,1963-08-27,AOA,NaN,SCHUTZ,NaN,AOA
3435,2915 Pike Road,NaN,4/1/1967,RA,0.0,1,1.0,1.0,NaN,Birmingham,...,1967,Cecil,1,NaN,1967-04-01,PME,CECIL,SMITHERMAN,NaN,PME

In [32]:
# create column mask for each row where one of the honors columns is blank
for hc in honors_columns:
    hc_mask = (has_award_mask) & (pd.isnull(all_app_short[hc]))
    all_app_short.loc[hc_mask, hc] = all_app_short.loc[hc_mask, 'extra_honor']
# check for any columns that already have full honors and cant be filled
all_app_short.loc[hc_mask, honors_columns].dropna(how='any')

Empty DataFrame
Columns: [honor_societies_first, honor_societies_fourth, honor_societies_second, honor_societies_third]
Index: []

In [33]:
# drop extra honor columns
all_app_short2 = all_app_short.drop('extra_honor', axis=1)

In [84]:
# replace those honors first names with np.nan
all_app_short2.loc[has_award_mask, 'clean_first_name'] = np.nan

In [85]:
m = re.search(r'\d{4}-\d{2,4}', '1972-74')

In [86]:
def is_year_range(med_school_str):
    # check if a year range coded into the med school columns 1972-73
    if pd.isnull(med_school_str):
        return False
    if re.search(r'\d{4}-\d{2,4}', med_school_str) is not None:
        return True

In [37]:
difflib.SequenceMatcher(None, 'QUICKLY', 'QUICKLY').ratio()

1.0

In [87]:
def str_sim(row):
    med_school = row['medical_school']
    last = row['clean_last_name']
    if pd.isnull(med_school) and pd.isnull(last):
        return 0
    if isinstance(med_school, float):
        return 0
    upp_med_school = clean_names(med_school)
    res = difflib.SequenceMatcher(None, last, upp_med_school).ratio()
    return res

In [88]:
# for those columns where med school is equal to last name or med_school is a year range, delete
all_app_short2.loc[:, 'school_name_sim'] = all_app_short2.loc[:, ['clean_last_name', 'medical_school']].apply(str_sim, axis=1)

In [89]:
all_app_short2.loc[all_app_short2.school_name_sim > .6, :]

Empty DataFrame
Columns: [address, age, application_date, associate_program_entered, bob, ca, cc, cord, citizenship, city, clinical, dbs, daniel's_comments, date_of_birth, fifth, ic, internship_hospital_1, internship_year(s), medical_school, nci, nei, nhi, nhli, niaid, niamd, niamdd, nichd, nichhd, nidr, niehs, nigms, nimh, nindb, ninds, oir, other, pi, pharm_ra, ra, rejected, rejection_date, research, residency_hospital, residency_type, residency_year(s), sa, sixth, state, teaching, undergraduate_school, unnamed:_59, unnamed:_61, withdrawal, year_accepted, zip_code, first_name, honor_societies_first, honor_societies_fourth, honor_societies_second, honor_societies_third, internship_hospital_1, internship_year(s), last_name, medschool_year_grad, middle_name, reviewer, undergrad_year_grad, application_date_dt, clean_first_name, clean_middle_name, clean_last_name, clean_suffix, school_name_sim, clean_college, clean_college_trans]
Index: []

[0 rows x 75 columns]

In [90]:
all_app_short2.loc[all_app_short2.clean_last_name=='FARLEY', ['clean_last_name', 'medical_school', 'school_name_sim']]

,clean_last_name,medical_school,school_name_sim
1062,FARLEY,University of Texas Medical Branch at Galveston,0.188679
1042,FARLEY,University of Texas Medical Branch at Galveston,0.188679

In [91]:
# look at all the unique med school
# sorted(all_app_short.medical_school.unique())

In [92]:
all_app_short2.loc[:, 'clean_college'] = all_app_short2.undergraduate_school.apply(clean_names)

In [93]:
# college name standardization fnc
def clean_std_college_name(college_raw):
# need to change 'college to university' unless Boston college or BU remove ANDS, AT, THE expand UCLA to UCAL, UC Davis etc.
# remove mispellings 'collge', UNIVERWSITY, MASSACHUSSETTS 
# RENSSELAER UNIVERSITY and RENSSELAER POLYTECHNICAL INSTITUTE to RENSSELAER POLYTECHNIC INSTITUTE
# JOHN HOPKINS UNIVERSITY to JOHNS
# HOLY CROSS COLLEGE to HOLY CROSS
# FRANKLIN MARSHALL COLLEGE' to FRANKLIN MARSHALL
# DE PAUW to DEPAUW
# ASBURY ASHBURY 
# DREXEL INSTITUTE OF TECHNOLOGY to DREXEL UNIVERSITY
# A B BROWN UNIVERSITY to Brown
# DARTMOUTH MEDICAL SCHOOL to Dartmouth
# remove random 1961 at the end of strings, (anything after university unless univ is the first word)
    if pd.isnull(college_raw):
        return np.nan
    # if AT or AND or THE, remove
    to_remove = [
        ' AND ', ' AT ', 'THE ', ' COLLGE', 'UNIVERISTY', 'UNIVERWSITY', 'MASSACHUSSETTS', 'JOHN ', 'DE PAUW', 'ASBURY', 
    'DREXEL INSTITUTE OF TECHNOLOGY', 'A B BROWN UNIVERSITY', 'DARTMOUTH MEDICAL SCHOOL', 'RENSSELAER UNIVERSITY', 
    'RENSSELAER POLYTECHNICAL INSTITUTE', ' STE', 'COLLEGE OF HOLY CROSS', 'HOLLY CROSS', 'JOHNSS ',  'BERKLEY',
    'UC ', 'PITTSBURRGH', 'WESLYN', 'WILLAMS', 'GEORGIA TECH', 'NEW YORK UNIVERSITY UNIV', 
    'UNIVERSITY OF MICHIGAN IS A', 'OHIO', 'STATE UNIVERSITY OF NEW YORK AT BUFFALO']
    to_replace = [
        ' ', ' ', ' ', ' COLLEGE', 'UNIVERSITY', 'UNIVERSITY', 'MASSACHUSETTS', 'JOHNS ', 'DEPAUW', 'ASHBURY',
        'DREXEL UNIVERSITY', 'BROWN UNIVERSITY', 'DARTMOUTH', 'RENSSELAER POLYTECHNIC INSTITUTE', 
        'RENSSELAER POLYTECHNIC INSTITUTE', ' STATE', 'HOLY CROSS', 'HOLY CROSS', 'JOHNS ', 
        ' BERKELEY', 'UNIVERSITY OF CALIFORNIA ', 'PITTSBURGH', 'WESLEYAN', 'WILLIAMS', 
        'GEORGIA INSTITUTE OF TECHNOLOGY', 'NEW YORK', 'UNIVERSITY OF MICHIGAN', 'OHIO STATE', 'SUNY BUFFALO']
    word_pairs = zip(to_remove, to_replace)
    # list of words to replace
    words_in_str = filter(lambda (x, y): x in college_raw, word_pairs)
    trans_word = college_raw
    for to_remove_wrd, to_replace_wrd in words_in_str:
        trans_word = trans_word.replace(to_remove_wrd, to_replace_wrd)
        
    # after replacing the mispellings and removing and/at, remove everything after college/university
    if 'BOSTON' in trans_word:
        # then this string is BC or BU, so just return string
        return trans_word
    if trans_word.find('UNIVESITY ') == 0:
        return trans_word
    split_wrd = ' UNIVERSITY'
    if 'COLLEGE' in trans_word:
        split_wrd = ' COLLEGE'
    base_word = trans_word.split(split_wrd)[0]
    return standardize_whitespace(base_word)

In [94]:
# make college mispelling and different reference translation table
all_app_short2.loc[:, 'clean_college_trans'] = all_app_short2.clean_college.apply(clean_std_college_name)

In [95]:
# need to convert undergrad_year_grad and med_school_grad to numbers to maintain consistence
all_app_short2.loc[:, ['undergrad_year_grad', 'medschool_year_grad']] = all_app_short2.loc[:, ['undergrad_year_grad', 'medschool_year_grad']].apply(
    lambda x: pd.to_numeric(x, errors='coerce'))

In [96]:
# now, sort by names, med school, undergrad school, 
all_app_shorted = all_app_short2.sort_values(by=PERSONAL_INFO)

In [64]:
LAST_NAME_MISSPELLINGS = {
        'HOMCY': 'HOMEY', 'DROBIS': 'DROBIN', 'DEFRONZO':'DEFRENZO', 
        'BRADEN 3R': 'BRADEN', 'BORKER': 'BORER', 'CASTLES': 'CASTLE',
        'CUONO': 'CUOMO', 'CYRULNIK': 'CYRULINK', 'EISENBATH': 'EISENBARTH', 
        'ELLIOTT': 'ELIOT', 'FINKLESTEIN': 'FINKELSTEIN', 'HEINRICK': 'HEINRICH', 
        'HERLIKY': 'HERLIHY', 'HIMMELHOCK': 'HIMMELHOCH', 'JANOWSKY': 'JANKOWSKY', 
        'KLINENBERG': 'KLINEBERG', 'KORNFELD': 'KORNFIELD', 'NEIDORF': 'NEIDOFT',
        'OLEINICK': 'OLENICK', 'ROSKES': 'ROSKE'
}

In [65]:
def replace_last_name(last_name):
    if last_name in LAST_NAME_MISSPELLINGS:
        return LAST_NAME_MISSPELLINGS[last_name]
    return last_name

In [108]:
# correct last name mispellings
all_app_shorted.loc[:, 'clean_last_name'] = all_app_shorted.loc[:, 'clean_last_name'].apply(replace_last_name)
all_app_shorted.loc[all_app_shorted.clean_last_name=='MORTON', 'clean_first_name'] = 'JOHN'

In [98]:
# convert ca column to float62
all_app_shorted.loc[:, 'ca'] = all_app_shorted.loc[:, 'ca'].apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [99]:
def sorting_fnc(v):
    # if string entry, sort by length, otherwise return value
    if isinstance(v, str):
        return len(v)
    return v

def consolidate_holes(df_col):
    # for each dataframe of info on one person/application year pair, consolidate info
    # drop null values, get unique and take longest by string length or first numeric value
    # all dataframes are coming in with reviewer 2 on top, who seems to be more accurate
    # so take that answer if possible
    lst_vals = list(df_col.dropna().unique())
    if len(lst_vals) == 0:
        return np.nan
    if isinstance(lst_vals[0], str):
        lst_vals = sorted(lst_vals, key=sorting_fnc, reverse=True)
    return lst_vals[0]

def stringify_personal_info(df_row):
    # accepts a series, returns a list object
    val_series = df_row[['clean_first_name', 'clean_middle_name', 
                        'clean_last_name', 'clean_college_trans', 'medical_school', 'date_of_birth']]
    str_vals = [str(v) for v in val_series]
    return '_'.join(str_vals)


def add_sanity_check_row(df, vals=None):
    if vals is None:
        df.loc[:, 'sanity_check'] = np.nan
    else:
        df.loc[:, 'sanity_check'] = vals
    return df


def format_consolidated_data(df):
    # applies consolidate fnc to dataframe, converts it into a df that can be merged
    # sort df so reviewer 2 is on top
    df_sort = df.sort_values(by=['reviewer'], ascending=False)
    vals = map(lambda x: stringify_personal_info(df_sort.loc[x, :]), df_sort.index)
    d2_series = df_sort.apply(consolidate_holes)
    df_trans = pd.DataFrame(d2_series).T
    # create a column that compares string values in another column
    sanity_checks = '\n'.join(vals)
    return add_sanity_check_row(df_trans, sanity_checks)

In [100]:
all_app_short2.loc[all_app_short2.clean_last_name=='HASELBY', ['medical_school']]

                             medical_school
1685  Indiana University School of Medicine
1709  Indiana University School of Medicine

In [101]:
all_app_grouped = all_app_shorted.groupby(['clean_last_name', 'application_date_dt'])

In [102]:
last_name_grouped = all_app_shorted.groupby(['clean_last_name'])

In [103]:
# function to consolidate multiple rows into one person
def consolidate_person(candidate_df):
    # for each dataframe, with a common last name, seperate into unique people
    # easiest case, if 2 rows, 1 from reviewer 1 and 2, then consolidate
    df_len = candidate_df.shape[0]
    if df_len < 2:
        # if only 1 row in data group, return row
        return add_sanity_check_row(candidate_df)
    unique_first_names = candidate_df['clean_first_name'].dropna().unique()
    unique_undergrad = candidate_df['undergrad_year_grad'].dropna().unique()
    unique_college = candidate_df['clean_college_trans'].dropna().unique()
    if (len(unique_first_names) < 2 and len(unique_undergrad) < 2) or (len(unique_first_names) < 2 and len(unique_college) < 2):
        # if unique first names < 2 and < 2 diff years of undergrad OR 
        # unique first names < 2 and <2 unique college names
        # most likely this is the same person
        res = format_consolidated_data(candidate_df)
        return res
    # otherwise there are more than 1 person to combine
    if len(unique_first_names) >= 2:
        # if there are 2 or more different first names, try to group by first and last name
        # and then analyze each group seperately
        print candidate_df['clean_last_name']
        print candidate_df['application_date']
        new_grped = candidate_df.groupby(['clean_first_name', 'clean_last_name'])
        print 'group by first name'
        res = map(lambda (x, y): format_consolidated_data(y), new_grped)
        res2 = pd.concat(res)
        return res2 
    if len(unique_college) >= 2:
        # if two different colleges, try to group by last name and college name
        print 'group by college name'
        print candidate_df
        new_grped = candidate_df.groupby(['clean_first_name', 'clean_college_trans'])
        res = map(lambda (x, y): format_consolidated_data(y), new_grped)
        res2 = pd.concat(res)
        return res2 
    # otherise this is an edge case
    # otherwise, although the person doesn't match on unique first and undergrad years, they are still most likely one 
    # person
    print candidate_df
    print 'Hitting a bad edge case'
    raise AttributeError('Hitting a Bad Edge Case')
    return None

In [104]:
combined_rows = map(lambda (x, y): consolidate_person(y), last_name_grouped)

35    AASE
0     AASE
33    AASE
Name: clean_last_name, dtype: object
35         NaN
0          NaN
33    1/1/1965
Name: application_date, dtype: object
group by first name
19    ABEL
40    ABEL
38    ABEL
16    ABEL
Name: clean_last_name, dtype: object
19    4/10/1962
40    4/15/1966
38    4/15/1966
16    4/10/1962
Name: application_date, dtype: object
group by first name
116    ABRAMS
133    ABRAMS
132    ABRAMS
115    ABRAMS
Name: clean_last_name, dtype: object
116     3/1/1972
133    4/14/1974
132    4/14/1974
115     3/1/1972
Name: application_date, dtype: object
group by first name
91    ACKERMAN
20    ACKERMAN
17    ACKERMAN
90    ACKERMAN
Name: clean_last_name, dtype: object
91    3/30/1971
20    3/27/1962
17    3/27/1962
90    3/30/1971
Name: application_date, dtype: object
group by first name
21    ADAMS
93    ADAMS
92    ADAMS
18    ADAMS
Name: clean_last_name, dtype: object
21     4/9/1962
93    4/12/1971
92    4/12/1971
18     4/9/1962
Name: application_date, dtype: object
group by first name
12    ADLER
70    ADLER
59    ADLER
71    ADLER
72    ADLER
69    ADLER
56    ADLER
71    ADLER
70    ADLER
9     ADLER
Name: clean_last_name, dtype: object
12    3/30/1961
70    3/28/1970
59    3/29/1969
71     4/1/1970
72     3/1/1970
69    3/28/1970
56    3/29/1969
71     3/1/1970
70     4/1/1970
9     3/30/1961
Name: application_date, dtype: object
group by first name
22    ALBERT
61    ALBERT
58    ALBERT
19    ALBERT
Name: clean_last_name, dtype: object
22    5/23/1962
61    3/22/1969
58    3/22/1969
19    5/23/1962
Name: application_date, dtype: object
group by first name
62    ALBRIGHT
50    ALBRIGHT
48    ALBRIGHT
59    ALBRIGHT
Name: clean_last_name, dtype: object
62    3/19/1969
50     4/6/1967
48     4/6/1967
59    3/19/1969
Name: application_date, dtype: object
group by first name
44     ALEXANDER
95     ALEXANDER
96     ALEXANDER
98     ALEXANDER
78     ALEXANDER
97     ALEXANDER
63     ALEXANDER
137    ALEXANDER
95     ALEXANDER
96     ALEXANDER
94     ALEXANDER
97     ALEXANDER
42     ALEXANDER
137    ALEXANDER
77     ALEXANDER
60     ALEXANDER
Name: clean_last_name, dtype: object
44      5/4/1966
95     6/15/1971
96      1/1/1971
98     3/11/1971
78     3/29/1970
97      4/4/1971
63      4/8/1969
137     4/4/1975
95      1/1/1971
96     3/11/1971
94     6/15/1971
97      4/4/1971
42      5/4/1966
137     4/4/1975
77     3/29/1970
60      4/8/1969
Name: application_date, dtype: object
group by first name
100    ALLEN
101    ALLEN
64     ALLEN
36     ALLEN
1      ALLEN
45     ALLEN
61     ALLEN
34     ALLEN
43     ALLEN
100    ALLEN
99     ALLEN
Name: clean_last_name, dtype: object
100    4/10/1971
101     4/1/1971
64     3/28/1969
36     3/13/1965
1      3/13/1965
45      5/9/1966
61     3/28/1969
34     3/13/1965
43      5/9/1966
100     4/1/1971
99     4/10/1971
Name: application_date, dtype: object
group by first name
102     ALPERT
54      ALPERT
2606    ALPERT
101     ALPERT
63      ALPERT
62      ALPERT
Name: clean_last_name, dtype: object
102     3/13/1971
54       3/3/1968
2606     1/1/1969
101     3/13/1971
63       3/3/1968
62       1/1/1969
Name: application_date, dtype: object
group by first name
103    ALTMAN
65     ALTMAN
64     ALTMAN
102    ALTMAN
Name: clean_last_name, dtype: object
103    4/15/1971
65     3/25/1969
64     3/25/1969
102    4/15/1971
Name: application_date, dtype: object
group by first name
5     ANDERSEN
80    ANDERSEN
52    ANDERSEN
79    ANDERSEN
2     ANDERSEN
Name: clean_last_name, dtype: object
5      7/1/1959
80    3/27/1970
52     4/2/1968
79    3/27/1970
2     7/17/1959
Name: application_date, dtype: object
group by first name
30     ANDERSON
55     ANDERSON
105    ANDERSON
27     ANDERSON
81     ANDERSON
106    ANDERSON
51     ANDERSON
34     ANDERSON
29     ANDERSON
16     ANDERSON
28     ANDERSON
26     ANDERSON
49     ANDERSON
80     ANDERSON
104    ANDERSON
105    ANDERSON
27     ANDERSON
25     ANDERSON
32     ANDERSON
13     ANDERSON
Name: clean_last_name, dtype: object
30      4/9/1963
55      4/2/1968
105    6/10/1971
27      6/4/1963
81     3/16/1970
106    6/10/1971
51     2/24/1967
34     5/18/1964
29     2/25/1963
16      1/1/1961
28     2/28/1963
26     2/28/1963
49     2/24/1967
80     3/16/1970
104    6/10/1971
105    6/10/1971
27     2/25/1963
25      6/4/1963
32     5/18/1964
13      1/1/1961
Name: application_date, dtype: object
group by first name
107    ANDREWS
108    ANDREWS
106    ANDREWS
107    ANDREWS
Name: clean_last_name, dtype: object
107    1/1/1971
108    4/5/1971
106    1/1/1971
107    4/5/1971
Name: application_date, dtype: object
group by first name
120    APPEL
10     APPEL
119    APPEL
7      APPEL
Name: clean_last_name, dtype: object
120    2/19/1972
10      6/6/1960
119    2/19/1972
7       6/6/1960
Name: application_date, dtype: object
group by first name
31     ASHER
52     ASHER
111    ASHER
50     ASHER
29     ASHER
110    ASHER
Name: clean_last_name, dtype: object
31     8/20/1963
52      1/1/1967
111     3/2/1971
50      1/1/1967
29     8/20/1963
110     3/2/1971
Name: application_date, dtype: object
group by first name
32    ATKINSON
67    ATKINSON
30    ATKINSON
66    ATKINSON
Name: clean_last_name, dtype: object
32     5/7/1963
67    3/16/1969
30     5/7/1963
66    3/16/1969
Name: application_date, dtype: object
group by first name
87    AUERBACH
6     AUERBACH
86    AUERBACH
3     AUERBACH
Name: clean_last_name, dtype: object
87    3/30/1970
6     4/13/1959
86    3/30/1970
3     4/13/1959
Name: application_date, dtype: object
group by first name
136    AUSTIN
88     AUSTIN
87     AUSTIN
136    AUSTIN
Name: clean_last_name, dtype: object
136    11/6/1974
88     4/14/1970
87     4/14/1970
136    11/6/1974
Name: application_date, dtype: object
group by first name
132    AXELROD
11     AXELROD
131    AXELROD
8      AXELROD
Name: clean_last_name, dtype: object
132    2/16/1973
11     5/11/1960
131    2/16/1973
8      5/11/1960
Name: application_date, dtype: object
group by first name
324    BACHMAN
201    BACHMAN
328    BACHMAN
204    BACHMAN
Name: clean_last_name, dtype: object
324    3/12/1969
201     8/7/1963
328    3/12/1969
204     8/7/1963
Name: application_date, dtype: object
group by first name
276    BAGLEY
343    BAGLEY
347    BAGLEY
280    BAGLEY
Name: clean_last_name, dtype: object
276    3/27/1967
343     4/1/1970
347     4/1/1970
280    3/27/1967
Name: application_date, dtype: object
group by first name
257    BAKER
219    BAKER
258    BAKER
224    BAKER
262    BAKER
223    BAKER
261    BAKER
Name: clean_last_name, dtype: object
257    4/29/1966
219     4/2/1964
258    4/25/1966
224     4/7/1964
262    4/25/1966
223     4/2/1964
261    4/29/1966
Name: application_date, dtype: object
group by first name
346    BARKER
220    BARKER
299    BARKER
260    BARKER
171    BARKER
171    BARKER
172    BARKER
350    BARKER
303    BARKER
264    BARKER
Name: clean_last_name, dtype: object
346    4/11/1970
220     4/7/1964
299    3/19/1968
260    5/15/1966
171    8/25/1961
171    8/25/1961
172    6/24/1960
350    4/11/1970
303    3/19/1968
264    5/15/1966
Name: application_date, dtype: object
group by first name
472    BARRETT
163    BARRETT
476    BARRETT
162    BARRETT
Name: clean_last_name, dtype: object
472    2/12/1973
163    8/22/1960
476    2/12/1973
162    8/22/1960
Name: application_date, dtype: object
group by first name
261    BARROW
382    BARROW
388    BARROW
265    BARROW
Name: clean_last_name, dtype: object
261    4/11/1966
382    3/27/1971
388    3/27/1971
265    4/11/1966
Name: application_date, dtype: object
group by first name
383    BARRY
237    BARRY
241    BARRY
389    BARRY
Name: clean_last_name, dtype: object
383    3/3/1971
237    4/7/1965
241    4/7/1965
389    3/3/1971
Name: application_date, dtype: object
group by first name
221    BARTH
164    BARTH
225    BARTH
163    BARTH
Name: clean_last_name, dtype: object
221    3/15/1964
164    6/24/1960
225    3/15/1964
163    6/24/1960
Name: application_date, dtype: object
group by first name
189    BARTON
277    BARTON
192    BARTON
281    BARTON
Name: clean_last_name, dtype: object
189    12/4/1962
277    3/15/1967
192    12/4/1962
281    3/15/1967
Name: application_date, dtype: object
group by first name
222    BECKER
263    BECKER
327    BECKER
238    BECKER
326    BECKER
242    BECKER
226    BECKER
330    BECKER
267    BECKER
331    BECKER
Name: clean_last_name, dtype: object
222    5/29/1964
263     5/6/1966
327    3/31/1969
238     5/1/1965
326     4/4/1969
242     5/1/1965
226    5/29/1964
330    3/31/1969
267     5/6/1966
331     4/4/1969
Name: application_date, dtype: object
group by first name
193    BEHRENS
192    BEHRENS
195    BEHRENS
196    BEHRENS
Name: clean_last_name, dtype: object
193     5/1/1962
192    8/16/1962
195     5/1/1962
196    8/16/1962
Name: application_date, dtype: object
group by first name
496    BELL
206    BELL
509    BELL
210    BELL
Name: clean_last_name, dtype: object
496     4/2/1975
206    2/25/1963
509     4/2/1975
210    2/25/1963
Name: application_date, dtype: object
group by first name
301    BENDER
173    BENDER
353    BENDER
357    BENDER
305    BENDER
174    BENDER
Name: clean_last_name, dtype: object
301    3/19/1968
173     1/1/1961
353    4/15/1970
357    4/15/1970
305    3/28/1968
174     1/1/1961
Name: application_date, dtype: object
group by first name
154    BENNETT
281    BENNETT
329    BENNETT
165    BENNETT
153    BENNETT
285    BENNETT
333    BENNETT
Name: clean_last_name, dtype: object
154    9/19/1959
281     1/1/1967
329     4/8/1969
165     6/6/1960
153    9/19/1959
285     1/1/1967
333     4/8/1969
Name: application_date, dtype: object
group by first name
330    BENSINGER
438    BENSINGER
476    BENSINGER
334    BENSINGER
480    BENSINGER
481    BENSINGER
Name: clean_last_name, dtype: object
330    3/15/1969
438    1/23/1972
476    2/19/1973
334    3/15/1969
480    2/19/1973
481    1/23/1972
Name: application_date, dtype: object
group by first name
282    BERG
497    BERG
440    BERG
495    BERG
447    BERG
286    BERG
Name: clean_last_name, dtype: object
282    4/10/1967
497     1/1/1975
440    2/25/1972
495     1/1/1974
447    2/25/1972
286    4/10/1967
Name: application_date, dtype: object
group by first name
194    BERGER
265    BERGER
269    BERGER
197    BERGER
Name: clean_last_name, dtype: object
194    1/22/1962
265    5/16/1966
269    5/16/1966
197    1/22/1962
Name: application_date, dtype: object
group by first name
394    BERKMAN
395    BERKMAN
400    BERKMAN
399    BERKMAN
Name: clean_last_name, dtype: object
394     4/4/1971
395    3/21/1971
400    3/21/1971
399     4/4/1971
Name: application_date, dtype: object
group by first name
283    BERKOWITZ
331    BERKOWITZ
441    BERKOWITZ
335    BERKOWITZ
287    BERKOWITZ
448    BERKOWITZ
Name: clean_last_name, dtype: object
283     3/1/1967
331    3/11/1969
441    1/12/1972
335    3/11/1969
287     3/1/1967
448    1/12/1972
Name: application_date, dtype: object
group by first name
442    BERMAN
498    BERMAN
284    BERMAN
396    BERMAN
401    BERMAN
497    BERMAN
510    BERMAN
288    BERMAN
449    BERMAN
Name: clean_last_name, dtype: object
442    2/11/1972
498    4/18/1975
284    3/20/1967
396    3/15/1971
401    3/15/1971
497    2/20/1974
510    4/18/1975
288    3/20/1967
449    2/11/1972
Name: application_date, dtype: object
group by first name
443    BERNSTEIN
175    BERNSTEIN
285    BERNSTEIN
241    BERNSTEIN
398    BERNSTEIN
242    BERNSTEIN
289    BERNSTEIN
450    BERNSTEIN
245    BERNSTEIN
403    BERNSTEIN
246    BERNSTEIN
176    BERNSTEIN
Name: clean_last_name, dtype: object
443    2/11/1972
175    8/27/1961
285    2/22/1967
241    4/14/1965
398    3/22/1971
242    5/10/1965
289    2/22/1967
450    2/11/1972
245    4/14/1965
403    3/22/1971
246    5/10/1965
176    8/27/1961
Name: application_date, dtype: object
group by first name
332    BERRY
144    BERRY
176    BERRY
336    BERRY
143    BERRY
177    BERRY
Name: clean_last_name, dtype: object
332     1/1/1969
144    11/1/1958
176     1/1/1961
336     1/1/1969
143    11/1/1958
177     1/1/1961
Name: application_date, dtype: object
group by first name
195    BERSON
399    BERSON
404    BERSON
198    BERSON
Name: clean_last_name, dtype: object
195    7/6/1962
399    4/1/1971
404    4/1/1971
198    7/6/1962
Name: application_date, dtype: object
group by first name
245    BIRD
304    BIRD
249    BIRD
308    BIRD
Name: clean_last_name, dtype: object
245    5/1/1965
304    1/1/1968
249    5/1/1965
308    1/1/1968
Name: application_date, dtype: object
group by first name
246    BLACK
488    BLACK
500    BLACK
250    BLACK
498    BLACK
512    BLACK
Name: clean_last_name, dtype: object
246    4/29/1965
488    8/30/1974
500    3/24/1975
250    4/29/1965
498    8/30/1974
512    3/24/1975
Name: application_date, dtype: object
group by first name
210    BLACKLOW
158    BLACKLOW
214    BLACKLOW
157    BLACKLOW
Name: clean_last_name, dtype: object
210    5/10/1963
158    6/13/1959
214    5/10/1963
157    6/13/1959
Name: application_date, dtype: object
group by first name
308    BLOCK
146    BLOCK
309    BLOCK
145    BLOCK
313    BLOCK
312    BLOCK
Name: clean_last_name, dtype: object
308    3/26/1968
146    11/1/1958
309     1/1/1968
145    11/1/1958
313     1/1/1968
312    3/26/1968
Name: application_date, dtype: object
group by first name
168    BLOOM
449    BLOOM
408    BLOOM
413    BLOOM
456    BLOOM
Name: clean_last_name, dtype: object
168    7/26/1960
449    1/15/1972
408     3/3/1971
413     3/3/1971
456    1/15/1972
Name: application_date, dtype: object
group by first name
359    BLUM
228    BLUM
360    BLUM
232    BLUM
364    BLUM
363    BLUM
Name: clean_last_name, dtype: object
359    3/16/1970
228    5/15/1964
360    3/28/1970
232    5/15/1964
364    3/28/1970
363    3/16/1970
Name: application_date, dtype: object
group by first name
411    BOBROW
310    BOBROW
416    BOBROW
314    BOBROW
Name: clean_last_name, dtype: object
411    2/25/1971
310     4/7/1968
416    2/25/1971
314     4/1/1968
Name: application_date, dtype: object
group by first name
289    BOCK
450    BOCK
457    BOCK
293    BOCK
Name: clean_last_name, dtype: object
289    4/14/1967
450     2/2/1972
457     2/2/1972
293    4/14/1967
Name: application_date, dtype: object
group by first name
250    BORENSTEIN
452    BORENSTEIN
459    BORENSTEIN
254    BORENSTEIN
Name: clean_last_name, dtype: object
250    4/28/1965
452    1/27/1972
459    1/27/1972
254    4/28/1965
Name: application_date, dtype: object
group by first name
336    BORER
479    BORER
340    BORER
486    BORER
Name: clean_last_name, dtype: object
336    3/15/1969
479    3/20/1973
340    3/15/1969
486    3/20/1973
Name: application_date, dtype: object
group by first name
232    BOWDEN
455    BOWDEN
462    BOWDEN
236    BOWDEN
Name: clean_last_name, dtype: object
232    5/14/1964
455    1/28/1972
462    1/28/1972
236    5/14/1964
Name: application_date, dtype: object
group by first name
291    BRADSHAW
233    BRADSHAW
237    BRADSHAW
295    BRADSHAW
Name: clean_last_name, dtype: object
291    4/17/1967
233     4/8/1964
237     4/8/1964
295    4/17/1967
Name: application_date, dtype: object
group by first name
416    BRAUN
363    BRAUN
367    BRAUN
421    BRAUN
Name: clean_last_name, dtype: object
416    3/28/1971
363    3/31/1970
367    3/31/1970
421    3/28/1971
Name: application_date, dtype: object
group by first name
417    BRAUNSTEIN
313    BRAUNSTEIN
317    BRAUNSTEIN
422    BRAUNSTEIN
Name: clean_last_name, dtype: object
417    3/17/1971
313    3/20/1968
317    3/20/1968
422    3/17/1971
Name: application_date, dtype: object
group by first name
268    BRAY
151    BRAY
272    BRAY
150    BRAY
Name: clean_last_name, dtype: object
268    4/22/1966
151     1/1/1958
272    4/22/1966
150     1/1/1958
Name: application_date, dtype: object
group by first name
370    BROWN
340    BROWN
269    BROWN
140    BROWN
423    BROWN
505    BROWN
506    BROWN
296    BROWN
270    BROWN
460    BROWN
461    BROWN
179    BROWN
462    BROWN
271    BROWN
371    BROWN
180    BROWN
212    BROWN
424    BROWN
316    BROWN
213    BROWN
317    BROWN
425    BROWN
272    BROWN
181    BROWN
235    BROWN
297    BROWN
214    BROWN
300    BROWN
377    BROWN
301    BROWN
183    BROWN
139    BROWN
218    BROWN
274    BROWN
344    BROWN
273    BROWN
517    BROWN
320    BROWN
466    BROWN
467    BROWN
375    BROWN
428    BROWN
429    BROWN
276    BROWN
216    BROWN
518    BROWN
217    BROWN
321    BROWN
275    BROWN
430    BROWN
431    BROWN
239    BROWN
376    BROWN
184    BROWN
182    BROWN
Name: clean_last_name, dtype: object
370     3/12/1970
340      4/1/1969
269      4/1/1966
140      1/1/1957
423     4/11/1971
505      4/8/1975
506     4/12/1975
296     3/21/1967
270     4/22/1966
460      3/1/1972
461           NaN
179      1/1/1961
462     2/14/1972
271      5/6/1966
371     3/30/1970
180     7/25/1961
212    10/22/1963
424      4/1/1971
316     2/23/1968
213     3/28/1963
317     3/15/1968
425      1/1/1971
272      5/9/1966
181      6/2/1961
235     7/13/1964
297      4/1/1967
214      5/7/1963
300     3/21/1967
377     3/30/1970
301      4/1/1967
183     7/25/1961
139      1/1/1957
218      5/7/1963
274     4/22/1966
344      4/1/1969
273      4/1/1966
517      4/8/1975
320     2/23/1968
466      3/1/1972
467     2/14/1972
375     3/12/1970
428     6/14/1971
429     4/11/1971
276      5/9/1966
216    10/22/1963
518     4/12/1975
217     3/28/1963
321     3/15/1968
275      5/6/1966
430      4/1/1971
431      1/1/1971
239     7/13/1964
376      1/1/1970
184      6/2/1961
182      1/1/1961
Name: application_date, dtype: object
group by first name
481    BROWNE
341    BROWNE
488    BROWNE
345    BROWNE
Name: clean_last_name, dtype: object
481    3/24/1973
341    3/30/1969
488    3/24/1973
345    3/30/1969
Name: application_date, dtype: object
group by first name
217    BULLARD
199    BULLARD
202    BULLARD
Name: clean_last_name, dtype: object
217    12/5/1963
199    6/22/1962
202    6/22/1962
Name: application_date, dtype: object
group by first name
321    BURDICK
236    BURDICK
240    BURDICK
325    BURDICK
Name: clean_last_name, dtype: object
321    3/21/1968
236    3/27/1964
240    3/27/1964
325    3/21/1968
Name: application_date, dtype: object
group by first name
432    BURKE
200    BURKE
464    BURKE
203    BURKE
439    BURKE
469    BURKE
438    BURKE
Name: clean_last_name, dtype: object
432     4/1/1971
200     8/8/1962
464    2/12/1972
203     8/8/1962
439    2/12/1972
469    2/12/1972
438     4/1/1971
Name: application_date, dtype: object
group by first name
375    BURMAN
376    BURMAN
381    BURMAN
382    BURMAN
Name: clean_last_name, dtype: object
375    3/29/1970
376    3/15/1970
381    3/29/1970
382    3/15/1970
Name: application_date, dtype: object
group by first name
434    BUTLER
160    BUTLER
442    BUTLER
159    BUTLER
Name: clean_last_name, dtype: object
434     4/6/1971
160    4/17/1959
442     4/6/1971
159    4/17/1959
Name: application_date, dtype: object
group by first name
667    CARMAN
725    CARMAN
741    CARMAN
679    CARMAN
Name: clean_last_name, dtype: object
667     4/1/1971
725    3/22/1973
741    3/22/1973
679     4/1/1971
Name: application_date, dtype: object
group by first name
548    CARPENTER
509    CARPENTER
561    CARPENTER
520    CARPENTER
Name: clean_last_name, dtype: object
548    11/13/1963
509     11/1/1958
561    11/13/1963
520     11/1/1958
Name: application_date, dtype: object
group by first name
516    CARR
579    CARR
528    CARR
592    CARR
540    CARR
527    CARR
Name: clean_last_name, dtype: object
516    7/17/1959
579     5/2/1966
528    12/5/1961
592     5/2/1966
540    12/5/1961
527    7/17/1959
Name: application_date, dtype: object
group by first name
669    CARROLL
630    CARROLL
681    CARROLL
643    CARROLL
Name: clean_last_name, dtype: object
669    3/30/1971
630    3/28/1970
681    3/30/1971
643    3/28/1970
Name: application_date, dtype: object
group by first name
631    CARSON
632    CARSON
644    CARSON

In [105]:
unique_people_df = pd.concat(combined_rows)

In [106]:
unique_people_df.sort_values(by=['clean_last_name'], axis=0, inplace=True)

In [107]:
unique_people_df.to_csv(os.path.join(CARD_DATA_DIR, 'ppl.csv'))

In [80]:
unique_people_df[['clean_last_name', 'clean_first_name', 'clean_middle_name', 'city', 'reviewer']]

,clean_last_name,clean_first_name,clean_middle_name,city,reviewer
824,DEFRENZO,NaN,A,Jamaica Plain,1
0,AARON,ROY,KENNETH,Neponsit,2
0,AARONSON,STUART,ALAN,San Carlos,2
0,AASE,JOHN,MORTON,Seattle,2
0,AASE,JON,MORTON,Seattle,2
0,ABBEY,LELAND,RUSSELL,Mt. Vernon,2
0,ABEL,HOWARD,R,New York 68,2
0,ABEL,RONALD,M,Oceanside,2
0,ABELE,DONALD,NaN,Boonville,2
0,ABELOFF,MARTIN,DAVID,Shenandoah,2
0,ABELSON,HERBERT,T,University City,2
0,ABER,ROBERT,CLARK,Easton,2
0,ABLON,STEVEN,LURIA,Cleveland,2
0,ABRAMOWITZ,AMNON,ZVI,Bronx,2
0,ABRAMS,ROSS,ALLEN,Durham,2
0,ABRAMS,LAWRENCE,MILTON,Kansas City,2
0,ABRASS,ITAMAR,BEZALEL,San Francisco,2
0,ACKERMAN,JACOB,LEWIS,Bronx,2
0,ACKERMAN,JAMES,L,Elizabeth,2
0,ACTON,CHARLES,MICHAEL,Indianapolis,2
0,ADAIR,NORMAN,EUGENE,Pleasant Hill,2
0,ADAMS,MORTON,SAMUEL,Sodus,2
0,ADAMS,WILLIAM,PAUL,New Wilmington,2
0,ADELSTEIN,ROBERT,S,New York City,2
0,ADKINSON,NEWTON,FRANKLIN,Baltimore,2
0,ADLER,STUART,PHILLIP,Baltimore,2
0,ADLER,RICHARD,NaN,Miami Beach 40,2
0,ADLER,ROBERT,ALAN,Bound Brook,2
0,ADLER,RONALD,DAVID,Los Altos,2
0,ADLER,SOLOMON,S,Bronx,2
...,...,...,...,...,...
0,ZBAR,BERTON,NaN,Salt Lake City,2
0,ZECH,LOREN,A,Tucson,2
0,ZEE,DAVID,SAMUEL,Baltimore,2
0,ZEIGER,LOUIS,SEYMOUR,Pennsauken,2
0,ZEIGER,ROBERT,S,Great Neck,2
290,ZELDIS,STEVEN,M,Levittown,3
0,ZELIGS,JOSEPH,DANIEL,Cincinnati,2
0,ZELIS,ROBERT,NaN,Chhicopee Falls,2
0,ZELKOWITZ,MARVIN,NaN,Fredericktown,2
385,ZELLER,CLIFFORD,LORIN,Wilmette,3
0,ZELSON,JOSEPH,HAROLD,New York,2
386,ZIBELMAN,MARK,NaN,Rosemont,3
0,ZIEGLER,JOHN,L,Wilton,2
0,ZIEGLER,MICHAEL,G,Kansas City,2
0,ZIEVE,FRANKLIN,JOSEPH,St. Paul,2
0,ZIMBLER,HARVEY,NaN,Chicago,2
0,ZIMMERMAN,ANDREW,WALTER,New York,2
0,ZIMMERMAN,THEODORE,S,Clayton 5,2
192,ZINKIN,EDWARD,BERNARD,Long Island City,3
0,ZINN,KEITH,MARSHALL,Brooklyn,2
0,ZINNER,JOHN,NaN,Great Neck,2
0,ZINNER,MICHAEL,JEFFREY,Gainesville,3
294,ZIPSER,ROBERT,DAVID,San Francisco,3
0,ZIVIN,JUSTIN,ALLEN,Chicago,3
0,ZOPF,DAVID,A,St. Louis,2
0,ZUCKERMAN,ALAN,ELLIOTT,New York,2
0,ZUSMAN,RANDALL,MARK,New Haven,2
0,ZWEIG,MARK,HOWARD,St. Louis,2
0,ZWELLING,LEONARD,ALAN,North Bellmore,3
295,ZYROFF,JACK,NaN,Baltimore,3

In [178]:
def consolidate_candidate(candidate_df):
    # for each dataframe, with a common last name and application date, seperate into unique candidate pairs
    # easiest case, if 2 rows, 1 from reviewer 1 and 2, then consolidate
    df_len = candidate_df.shape[0]
    if df_len < 2:
        # if only 1 row in data group, return row
        return add_sanity_check_row(candidate_df)
    unique_first_names = candidate_df['clean_first_name'].dropna().unique()
    unique_undergrad = candidate_df['undergrad_year_grad'].dropna().unique()
    unique_college = candidate_df['clean_college_trans'].dropna().unique()
    if (len(unique_first_names) < 2 and len(unique_undergrad) < 2) or (len(unique_first_names) < 2 and len(unique_college) < 2):
        # if unique first names < 2 and < 2 diff years of undergrad OR 
        # unique first names < 2 and <2 unique college names
        # most likely this is the same person
        res = format_consolidated_data(candidate_df)
        return res
    # otherwise there are more than 1 person to combine
    if len(unique_first_names) >= 2:
        # if there are 2 or more different first names, try to group by first and last name
        # and then analyze each group seperately
        print candidate_df['clean_last_name']
        print candidate_df['application_date']
        new_grped = candidate_df.groupby(['clean_first_name', 'clean_last_name'])
        print 'group by first name'
        res = map(lambda (x, y): format_consolidated_data(y), new_grped)
        res2 = pd.concat(res)
        return res2 
    if len(unique_college) >= 2:
        # if two different colleges, try to group by last name and college name
        print 'group by college name'
        print candidate_df
        new_grped = candidate_df.groupby(['clean_first_name', 'clean_college_trans'])
        res = map(lambda (x, y): format_consolidated_data(y), new_grped)
        res2 = pd.concat(res)
        return res2 
    # otherise this is an edge case
    # otherwise, although the person doesn't match on unique first and undergrad years, they are still most likely one 
    # person
    print candidate_df
    print 'Hitting a bad edge case'
    raise AttributeError('Hitting a Bad Edge Case')
    return None

In [179]:
combined_rows = map(lambda (x, y): consolidate_candidate(y), all_app_grouped)

105    ANDERSON
106    ANDERSON
104    ANDERSON
105    ANDERSON
Name: clean_last_name, dtype: object
105    6/10/1971
106    6/10/1971
104    6/10/1971
105    6/10/1971
Name: application_date, dtype: object
group by first name
206    BANTA
203    BANTA
Name: clean_last_name, dtype: object
206    3/19/1963
203    3/19/1963
Name: application_date, dtype: object
group by first name
247    BLASS
251    BLASS
Name: clean_last_name, dtype: object
247    4/13/1965
251    4/13/1965
Name: application_date, dtype: object
group by first name
297    BRENSIKE
293    BRENSIKE
Name: clean_last_name, dtype: object
297    3/23/1967
293    3/23/1967
Name: application_date, dtype: object
group by first name
729    COHEN
713    COHEN
Name: clean_last_name, dtype: object
729    1/25/1972
713    1/25/1972
Name: application_date, dtype: object
group by first name
820    DICKLER
800    DICKLER
Name: clean_last_name, dtype: object
820    3/18/1968
800    3/18/1968
Name: application_date, dtype: object
group by first name
752    DRACHMAN
753    DRACHMAN
772    DRACHMAN
771    DRACHMAN
Name: clean_last_name, dtype: object
752    11/1/1958
753    11/1/1958
772    11/1/1958
771    11/1/1958
Name: application_date, dtype: object
group by first name
1214    GALLO
1179    GALLO
Name: clean_last_name, dtype: object
1214    6/3/1963
1179    6/3/1963
Name: application_date, dtype: object
group by first name
1344    GARDNER
1345    GARDNER
1380    GARDNER
1381    GARDNER
Name: clean_last_name, dtype: object
1344    4/1/1971
1345    4/1/1971
1380    4/1/1971
1381    4/1/1971
Name: application_date, dtype: object
group by first name
1214    GOLDSTEIN
1215    GOLDSTEIN
1250    GOLDSTEIN
1249    GOLDSTEIN
Name: clean_last_name, dtype: object
1214    1/1/1965
1215    1/1/1965
1250    1/1/1965
1249    1/1/1965
Name: application_date, dtype: object
group by first name
group by college name
               address  age application_date associate_program_entered  bob  \
1639     17 Laurel St.  NaN        2/28/1971                       NaN  0.0
1683  17 Laurel Street  NaN        2/28/1971                       NaN  0.0

       ca   cc  cord citizenship     city         ...           reviewer  \
1639  0.0  0.0   NaN         NaN  Whitman         ...                  2
1683  NaN  0.0   NaN         NaN  Whitman         ...                  1

      undergrad_year_grad application_date_dt clean_first_name  \
1639               1969.0          1971-02-28        COURTLAND
1683               1966.0          1971-02-28              NaN

      clean_middle_name clean_last_name clean_suffix school_name_sim  \
1639           LAWRENCE          HARLOW           JR        0.142857
1683           LAWRENCE          HARLOW           JR        0.142857

                     clean_college  clean_college_trans
1639      DARTMOUTH MEDICAL SCHOOL            DARTMOUTH
1683  BRIDGEWATER STATE UNIVERSITY    BRIDGEWATER STATE

[2 rows x 75 columns]
1938    KAHN
1894    KAHN
Name: clean_last_name, dtype: object
1938    3/30/1968
1894    3/30/1968
Name: application_date, dtype: object
group by first name
1972    KLEIN
1975    KLEIN
2026    KLEIN
2023    KLEIN
Name: clean_last_name, dtype: object
1972    4/1/1971
1975    4/1/1971
2026    4/1/1971
2023    4/1/1971
Name: application_date, dtype: object
group by first name
2294    LAWLEY
2233    LAWLEY
Name: clean_last_name, dtype: object
2294    2/8/1972
2233    2/8/1972
Name: application_date, dtype: object
group by first name
2399    MILLER
2400    MILLER
2462    MILLER
2461    MILLER
Name: clean_last_name, dtype: object
2399    4/5/1967
2400    4/5/1967
2462    4/5/1967
2461    4/5/1967
Name: application_date, dtype: object
group by first name
2764    OREN
2696    OREN
Name: clean_last_name, dtype: object
2764    2/14/1966
2696    2/14/1966
Name: application_date, dtype: object
group by first name
2879    PETERLIN
2957    PETERLIN
Name: clean_last_name, dtype: object
2879    2/7/1972
2957    2/7/1972
Name: application_date, dtype: object
group by first name
2987    REYNOLDS
3068    REYNOLDS
Name: clean_last_name, dtype: object
2987    5/6/1965
3068    5/6/1965
Name: application_date, dtype: object
group by first name
2967    RICHTER
3048    RICHTER
Name: clean_last_name, dtype: object
2967    6/13/1963
3048    6/13/1963
Name: application_date, dtype: object
group by first name
3078    RIDDICK
2997    RIDDICK
Name: clean_last_name, dtype: object
3078    3/25/1966
2997    3/25/1966
Name: application_date, dtype: object
group by first name
3090    ROBINSON
3091    ROBINSON
3175    ROBINSON
3176    ROBINSON
Name: clean_last_name, dtype: object
3090    4/1/1971
3091    4/1/1971
3175    4/1/1971
3176    4/1/1971
Name: application_date, dtype: object
group by first name
2991    ROTH
2992    ROTH
3073    ROTH
3072    ROTH
Name: clean_last_name, dtype: object
2991    5/3/1965
2992    5/3/1965
3073    5/3/1965
3072    5/3/1965
Name: application_date, dtype: object
group by first name
group by college name
           address  age application_date associate_program_entered  bob   ca  \
3329      Box 637   NaN        4/21/1967                        CA  0.0  1.0
3415  P.O. Box 673  NaN        4/21/1967                        CA  0.0  1.0

       cc  cord citizenship       city         ...           reviewer  \
3329  0.0   1.0         NaN  Woodridge         ...                  2
3415  0.0   1.0         NaN  Woodridge         ...                  1

      undergrad_year_grad application_date_dt clean_first_name  \
3329               1963.0          1967-04-21          MICHAEL
3415               1961.0          1967-04-21              NaN

      clean_middle_name clean_last_name clean_suffix school_name_sim  \
3329              HENRY           SACKS          NaN        0.093023
3415              HENRY           SACKS          NaN        0.093023

          clean_college  clean_college_trans
3329  OXFORD UNIVERSITY               OXFORD
3415   WILLIAMS COLLEGE             WILLIAMS

[2 rows x 75 columns]
3334    SCHOENBERG
3420    SCHOENBERG
Name: clean_last_name, dtype: object
3334    4/4/1967
3420    4/4/1967
Name: application_date, dtype: object
group by first name
409    SIROTA
408    SIROTA
Name: clean_last_name, dtype: object
409    1/17/1976
408    1/17/1976
Name: application_date, dtype: object
group by first name
3272    SMITH
3273    SMITH
3357    SMITH
3358    SMITH
Name: clean_last_name, dtype: object
3272    3/15/1964
3273    3/15/1964
3357    3/15/1964
3358    3/15/1964
Name: application_date, dtype: object
group by first name
3435    SMITHERMAN
3349    SMITHERMAN
Name: clean_last_name, dtype: object
3435    4/1/1967
3349    4/1/1967
Name: application_date, dtype: object
group by first name
2    WOLFF
3    WOLFF
Name: clean_last_name, dtype: object
2    11/2/1962
3    11/2/1962
Name: application_date, dtype: object
group by first name

In [180]:
unique_apps_df = pd.concat(combined_rows)
# combined_rows[1]
# [c for c in combined_rows if c.shape[1]!=74]

In [181]:
# sort columns
unique_apps_df.sort_index(axis=1, inplace=True)
# order columns and sort values
unique_apps_df.sort_values(by=['clean_last_name', 'application_date'], axis=0, inplace=True)

In [1]:
unique_apps_df.loc[unique_apps_df.clean_last_name=='FARLEY', PERSONAL_INFO+['application_date']]

NameError: name 'unique_apps_df' is not defined

In [ ]:
# create uuid for each person

In [62]:
unique_apps_df.head()

,address,age,application_date,application_date_dt,associate_program_entered,bob,ca,cc,citizenship,city,...,sixth,state,teaching,undergrad_year_grad,undergraduate_school,unnamed:_59,unnamed:_61,withdrawal,year_accepted,zip_code
0,154 Beach 142nd Street,NaN,4/8/1970,1970-04-08 00:00:00,CA,0,1,1,NaN,Neponsit,...,NaN,New York,1,NaN,NaN,NaN,1,-9,1972,11694
0,6 Val Mar Place,NaN,5/17/1966,1966-05-17 00:00:00,NaN,0,1,0,US,San Carlos,...,NaN,California,1,NaN,NaN,NaN,1,-9,1967,NaN
33,University of Washington,NaN,1/1/1965,1965-01-01 00:00:00,RA,NaN,NaN,NaN,NaN,Seattle,...,NaN,Washington,NaN,NaN,NaN,NaN,2,-9,1965,NaN
0,67 Frederick Place,NaN,4/8/1971,1971-04-08 00:00:00,NaN,0,1,0,NaN,Mt. Vernon,...,NaN,New York,1,NaN,NaN,NaN,1,0,NaN,NaN
0,2280 Loring Place,NaN,4/10/1962,1962-04-10 00:00:00,NaN,0,0,0,US,New York 68,...,NaN,New York,0,NaN,NaN,NaN,2,-9,1964,NaN

In [63]:
# read to csv
unique_apps_df.to_csv(os.path.join(CARD_DATA_DIR, 'deduped_applicants.csv'))
unique_apps_df.to_pickle(os.path.join(CARD_DATA_DIR, 'deduped_applicants.p'))

In [ ]:
g1 = list(all_app_grouped)[0][1]

In [ ]:

g1 = all_app_grouped.get_group(('HARLOW JR', '1971-02-28'))
g2 = all_app_grouped.get_group(('ALEXANDER', '1969-04-08'))
g3 = all_app_grouped.get_group(('DRACHMAN', '1958-11-01'))
g4 = all_app_grouped.get_group(('SACKS', '4/21/1967'))
g5 = all_app_grouped.get_group(('ZIVIN', '4/4/1975'))

In [ ]:
g5

In [ ]:
out = consolidate_candidate(g1)
out