In [1]:
# read in known applicant files, dedupe and try to merge with applicants file
import difflib
import uuid
import itertools
import pandas as pd
import numpy as np
import string
import funcy
import re
import os

In [2]:
ASSOC_DATA_DIR = os.path.abspath('Data/applicant_data')
CARD_DATA_DIR = os.path.abspath('Data/raw_card_data')

print ASSOC_DATA_DIR
r1_file = '1964-1973 associates.XLS'
r2_file = 'Associates alpha by institute.XLS'
r3_file = 'Associates data.XLS'
r4_file = 'NIMH Associates Complete.XLS'
r5_file = 'NINDB Associates alpha by year.xls'
filenames = [r1_file, r2_file, r3_file, r4_file, r5_file]

/home/lraymond/MIT/Azoulay_2016/yellow_berets/yellow_beret/Data/applicant_data

In [3]:
file_df = map(lambda x: pd.read_excel(os.path.join(ASSOC_DATA_DIR, x)), filenames)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [4]:
file_4_columns = [
    'dno', 'source', 'unknown', 'lastname', 'first_middle', 'institute', 'lab_brch', 
    'program', 'supervisor', 'eod_year', 'med_school', 'year_grad', 'intern_hos', 'intern_dte',
       'res_hosp', 'residency', 'res_dtes'
]

In [5]:
file_df[2].rename(columns={'lname':'lastname', 'fname': 'first_middle'}, inplace=True)
file_df[1].rename(columns={'lname':'lastname', 'fname': 'first_middle'}, inplace=True)

In [6]:
file_df[4].columns = file_4_columns
# for each files in the list, add a column to track source
for name, f in zip(filenames, file_df):
    f.loc[:, 'data_source'] = name
concat_df = pd.concat(file_df)

In [7]:
print sum(map(lambda x: x.shape[0], file_df)) == concat_df.shape[0]

True

In [8]:
# apply a basic string cleaning function to the names- removing all punctuation, changing to all uppercase

def trans_remov_punc(to_change, change_to):
    # removes specified punctuation using string maketrans (very fast, C lookups)
    #returns partially evaluated fnc
    trantab = string.maketrans(to_change, change_to)
    return funcy.func_partial(lambda x: x.translate(trantab))


def standardize_whitespace(pub_str):
    return ' '.join(filter(None, pub_str.split(' ')))


def remove_punc(pub_str):
    # function to remove punctuation
    nonelst = ' '*len(string.punctuation)
    fn = trans_remov_punc(string.punctuation, nonelst)
    pub_str2 = str(pub_str)
    new_str = fn(pub_str2)
    # standardize spaces
    return standardize_whitespace(new_str)


def clean_names(name):
    # if name is missing, return null
    if pd.isnull(name):
        return np.nan
    # uppercase 
    upp = name.upper()
    return remove_punc(upp)

    # pull off suffix in some last names into seperate column
def has_suffix(raw_last_name):
    # a boolean fnc to identify which rows may have a suffix
    last_lst = raw_last_name.split(' ')
    if len(last_lst) == 1:
        # if no white spaces in last name, only 1 word, so no suffix
        return False
    suffixes = ['JR', 'SR', 'I', 'II', 'III', 'IV', 'V', 'VI']
    # want to differentiate between suffix (JR, SR, I, II, III, IV, V) between last names with multiple parts (ex. st john)
    # check if last word in list
    return (last_lst[-1] in suffixes)

In [9]:
def strip_first_middle(raw_str):
    # looks like first middle coded as first middle or first, middle or event first, middle initial suffix
    if pd.isnull(raw_str):
        return pd.Series({'firstname2': np.nan, 'middlename2': np.nan, 'suffix': np.nan})
    split_space = raw_str.split(' ') 
    find_per = raw_str.find('.')
    find_comma = raw_str.find(',')
    
    if len(split_space) == 1 and find_per == -1 and find_comma == -1:
        # just a one word sequence with first name
        return pd.Series({'firstname2': raw_str, 'middlename2': np.nan, 'suffix': np.nan})
    clean_str = remove_punc(raw_str)
    lst_clean_str = clean_str.split(' ')
    middle = lst_clean_str[1] if len(lst_clean_str) > 1 else np.nan
    suffix = lst_clean_str[2] if len(lst_clean_str) > 2 else np.nan
    return pd.Series({'firstname2': lst_clean_str[0], 'middlename2': middle, 'suffix': suffix})

In [10]:
# now we have all the associates, sep first middle into first and middle name, then sort and check 
# to see if we have any duplicates
df2 = pd.concat([concat_df, concat_df.loc[:, 'first_middle'].apply(strip_first_middle)], axis=1)
# consolidate firstname columns
df2.loc[~pd.isnull(df2.first_middle), 'firstname'] = df2.loc[~pd.isnull(df2.first_middle), 'firstname2']
df2.loc[pd.isnull(df2.middlename), 'middlename'] = df2.loc[pd.isnull(df2.middlename), 'middlename2']

In [11]:
df3 = df2.drop(['first_middle', 'firstname2', 'middlename2'], axis=1)

In [12]:
# dropnow where both first and last name are missing
df3 = df3.dropna(subset=['firstname', 'lastname'], how='all')

In [13]:
# df3.dropna(subset=['firstname', 'lastname'], how='all').loc[:, ['firstname', 'lastname', 'dno', 'data_source']]
df3.dropna(subset=['firstname', 'lastname'], how='all').loc[:, 'data_source'].unique()

array(['1964-1973 associates.XLS', 'Associates alpha by institute.XLS',
       'Associates data.XLS', 'NIMH Associates Complete.XLS',
       'NINDB Associates alpha by year.xls'], dtype=object)

In [14]:
df3_sorted = df3.sort_values(by=['dno'])

In [15]:
df3_unique = df3.drop_duplicates('dno')

In [16]:
df3_unique.loc[:, 'clean_firstname'] = df3_unique['firstname'].apply(clean_names)
df3_unique.loc[:, 'clean_middlename'] = df3_unique['middlename'].apply(clean_names)
df3_unique.loc[:, 'clean_lastname'] = df3_unique['lastname'].apply(clean_names)

/home/lraymond/MIT/Azoulay_2016/yellow_berets/yb/local/lib/python2.7/site-packages/pandas/core/indexing.py:288: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/lraymond/MIT/Azoulay_2016/yellow_berets/yb/local/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [17]:
# it seems that dno does refer to unique person, so drop dups based on that 
# save this unique to pick
df3_unique.to_pickle(os.path.join(ASSOC_DATA_DIR, 'unique_attendees.p'))

In [18]:
# to csv
df3_unique.to_csv(os.path.join(ASSOC_DATA_DIR, 'unique_attendees.csv'))

In [49]:
# import applicants file and try to merge with attendees
# interested to see how many applicants were NOT accepted
apps = pd.read_pickle(os.path.join(CARD_DATA_DIR, 'unique_applicants.p'))

In [50]:
app_to_att_mapping = {'clean_middle_name': 'clean_middlename', 'clean_last_name':  'clean_lastname',
                     'clean_first_name': 'clean_firstname', 'medical_school': 'med_school', 
                    'internship_hospital_1': 'intern_hos', 'internship_year(s)': 'intern_dte', 
                     'residency_year(s)': 'res_dtes', 'residency_hospital': 'res_hosp'}

In [51]:
apps.loc[:, list(app_to_att_mapping.keys())].head()

,internship_year(s),clean_first_name,clean_middle_name,residency_year(s),residency_hospital,medical_school,internship_hospital_1,clean_last_name
0,1969-70,ROY,KENNETH,1970-71,U.S. PHS HOSPITAL,SUNY Downstate Medical Center College of Medicine,MONTEFIORE HOSPITAL ASSOCIATION,AARON
0,1966-67,STUART,ALAN,1967-68,HERBERT C. MOFFITT HOSPITAL,UCSF School of Medicine,HERBERT C. MOFFITT HOSPITAL,AARONSON
0,NaN,JOHN,MORTON,NaN,NaN,NaN,NaN,AASE
0,NaN,JON,MORTON,NaN,NaN,NaN,NaN,AASE
0,1971-72,LELAND,RUSSELL,NaN,NaN,Hahnemann University School of Medicine,MOUNT SINAI SCHOOL OF MEDICINE OF NYU,ABBEY

In [52]:
df3_unique.loc[:, app_to_att_mapping.values()].head()

,intern_dte,clean_firstname,clean_middlename,res_dtes,res_hosp,med_school,intern_hos,clean_lastname
0,1966-1967,ROBERT,F,1967-1968,"Peter Brent Brigham Hospital, Boston, Massachu...",Columbia University College of Physicians & Su...,"Peter Brent Brigham Hospital, Boston, Massachu...",ASHMAN
1,1965-1966,PHILIP,WILLIAM,1966-1967,Boston City,Yale University School of Medicine,Boston City,ASKENASE
2,1969-1970,FLOYD,L,1970-1971,Yale - New Haven Medical Center,Medical College of Virginia,Yale - New Haven Medical Center,ATKINS
3,1963-1964,ARTHUR,J,1964-1965,Massachusetts General Hospital,Cornell University Medical College,Massachusetts General Hospital,ATKINSON
4,NaN,JOHN,PATTERSON,NaN,NaN,Kansas University,Massachusetts General Hospital,ATKINSON

In [53]:
# rename columns in df3 to match
# change residency and internship dates to be YYYY-YYYY instead of YYYY-YY
def long_form_date(dt_str):
    if pd.isnull(dt_str):
        return dt_str
    m = re.match(r'(\d{4})-(\d{2})', dt_str)
    if m:
        g = m.groups()
        return '{0}-19{1}'.format(g[0], g[1])
    m = re.match(r'(\d{4})', dt_str)
    if m:
        return dt_str
    print dt_str
    return np.nan

In [54]:
apps['res_dtes'] = apps['residency_year(s)'].apply(long_form_date)

"Open"

In [56]:
apps['intern_dte'] = apps['internship_year(s)'].apply(long_form_date)

Str. Medicine
Medicine

In [65]:
df3_unique.loc[:, 'clean_med_school'] = df3_unique['med_school'].apply(clean_names)

In [68]:
exact_name_matches = pd.merge(left=df3_unique, right=apps, left_on=['clean_firstname', 'clean_middlename', 'clean_lastname'], right_on=[
        'clean_first_name', 'clean_middle_name', 'clean_last_name'], how='inner')

In [71]:
not_matched_apps = apps.loc[~apps.uuid.isin(exact_name_matches.uuid), :]

In [72]:
not_matched_attendees = df3_unique.loc[~df3_unique.dno.isin(exact_name_matches.dno), :]

In [77]:
first_last_matches

,citizenship_x,data_source,dno,dob,eod_year,firstname,generation,institute,intern_dte_x,intern_hos,...,clean_middle_name,clean_last_name,clean_suffix,school_name_sim,clean_college,clean_college_trans,sanity_check,uuid,res_dtes_y,intern_dte_y
0,NaN,1964-1973 associates.XLS,117,NaN,1968.0,Robert,NaN,NIAMD,1966-1967,"Peter Brent Brigham Hospital, Boston, Massachu...",...,FREDERICK,ASHMAN,NaN,0.166667,NaN,NaN,ROBERT_FREDERICK_ASHMAN_nan_Columbia Universit...,a84404cc-b91b-4e64-b2a2-4f01b389a8d7,1967-1968,1966-1967
1,NaN,1964-1973 associates.XLS,120,NaN,1971.0,Floyd,NaN,NIGMS,1969-1970,Yale - New Haven Medical Center,...,C,ATKINS,NaN,0.181818,HOWARD UNIVERSITY,HOWARD,FLOYD_C_ATKINS_HOWARD_Medical College of Virgi...,b291479d-af1a-4666-a402-a3e7ea9d5df8,1970-1971,1969-1970
2,NaN,1964-1973 associates.XLS,237,NaN,1972.0,Richard,NaN,NCI,NaN,LA Co. Harbor General,...,ALAN,BENDER,NaN,0.206897,UNIVERSITY OF CALIFORNIA SANTA BARBARA,UNIVERSITY OF CALIFORNIA SANTA BARBARA,RICHARD_ALAN_BENDER_UNIVERSITY OF CALIFORNIA S...,db46e911-a7d5-45a8-a048-06bb3938b5a4,NaN,1970
3,NaN,1964-1973 associates.XLS,309,NaN,1971.0,John,NaN,NIAMD,1969-1970,Columbia Presbyterian,...,PAUL,BILEZIKIAN,NaN,0.25,NaN,NaN,JOHN_PAUL_BILEZIKIAN_nan_Columbia University C...,90c1c981-2fab-4ebd-a912-49d2757290fe,1970-1971,1969-1970
4,NaN,1964-1973 associates.XLS,329,NaN,1972.0,Thomas,NaN,NCI,1970-1971,Children's Hospital of Philadelphia.,...,JOSEPH JOHN,BLANCK,NaN,0.156863,NaN,NaN,THOMAS_JOSEPH JOHN_BLANCK_nan_University of Pe...,18fc79fe-d788-4575-b91b-c7f92d535ed3,NaN,1970-1971
5,NaN,1964-1973 associates.XLS,356,NaN,1970.0,Samuel,NaN,NCI,1968-1969,Bronx Municipal Hospital Center,...,HIEL,BOBROW,NaN,0.0727273,NaN,NaN,SAMUEL_HIEL_BOBROW_nan_SUNY Downstate Medical ...,a3df442a-a441-4567-afb8-a38fb08e29b0,1969,1968-1969
6,NaN,1964-1973 associates.XLS,398,NaN,1972.0,William,NaN,NIMH,1969-1970,San Francisco General Hospital,...,NaN,BRADEN,III,0.322581,HARVARD UNIVERSITY,HARVARD,WILLIAM_nan_BRADEN_HARVARD_Harvard Medical Sch...,2ee1ff04-dc8b-4f00-912a-318026b9a75f,1970-1972,1969-1970
7,NaN,1964-1973 associates.XLS,419,NaN,1971.0,John,NaN,NIAID,1970-1971,Hospital of University of Pennsylvania,...,CARL SUMMER,BREITNER,NaN,0.188679,HARVARD UNIVERSITY,HARVARD,JOHN_CARL SUMMER_BREITNER_HARVARD_University o...,fc63f6a3-5110-4af1-a661-e571a16f16df,NaN,1970-1971
8,NaN,Associates alpha by institute.XLS,418,NaN,NaN,John,NaN,NaN,1970-1971,NaN,...,CARL SUMMER,BREITNER,NaN,0.188679,HARVARD UNIVERSITY,HARVARD,JOHN_CARL SUMMER_BREITNER_HARVARD_University o...,fc63f6a3-5110-4af1-a661-e571a16f16df,NaN,1970-1971
9,NaN,1964-1973 associates.XLS,55,NaN,1973.0,John,NaN,NCI,1972-1973,Duke Hospital,...,CHARLES,ALEXANDER,JR,0.186047,DUKE UNIVERSITY,DUKE,JOHN_C_ALEXANDER_nan_Duke University School of...,d8ec57d8-a909-4146-b376-d15f3adc9496,1972-1973,1972-1973
10,NaN,1964-1973 associates.XLS,441,NaN,1968.0,Harlow,NaN,NIMH,1965-1966,Ochsner Foundation,...,KEITH HAMMOND,BRODIE,NaN,0.166667,PRINCETON UNIVERSITY,PRINCETON,HARLOW_KEITH HAMMOND_BRODIE_PRINCETON_Columbia...,3eae6513-c889-4a5d-bcba-14933d8f34b8,1966-1969,1965-1966
11,NaN,1964-1973 associates.XLS,460,NaN,1969.0,James,NaN,NCI,1967-1968,"Presbyterian Hospital, NYC",...,KINGSBURY,BROWN,NaN,0.0983607,CORNELL UNIVERSITY,CORNELL,JAMES_ALAN_BROWN_CORNELL_University of Rochest...,13963837-7679-46dc-86db-be421b32736b,1968-1969,1967-1968
12,NaN,1964-1973 associates.XLS,461,NaN,1968.0,James,NaN,NIGMS,1966-1967,Cleveland Metropolitan General,...,KINGSBURY,BROWN,NaN,0.0983607,CORNELL UNIVERSITY,CORNELL,JAMES_ALAN_BROWN_CORNELL_University of Rochest...,13963837-7679-46dc-86db-be421b32736b,1968-1969,1967-1968
13,NaN,1964-1973 associates.XLS,466,NaN,1964.0,Paul,NaN,NINDB,NaN,NaN,...,N,BROWN,NaN,0,NaN,NaN,PAUL_N_BROWN_nan_nan_nan,8b937566-9033-4f48-ab40-556e9e238b5d,NaN,NaN
14,NaN,1964-1973 associates.XLS,497,NaN,1972.0,Bernadine,NaN,NHI,1970-1971,Johns Hopkins Hospital,...,BARTLETT,BULKLEY,NaN,0.137931,PRINCETON UNIVERSITY,PRINCETON,BERNADINE_HEALY_BULKLEY_nan_Harvard Medical Sc...,d8c7f982-f0f6-4bb9-9bc1-a45943678f10,1971-1972,1970-1971
15,NaN,1964-1973 associates.XLS,545,NaN,1965.0,Wayne,NaN,NCI,1963-1964,St. Vincent's Hospital,...,DILWORTH,CANNON,JR,0.2,NaN,NaN,WAYNE_D_CANNON_nan_Columbia University College...,fd316278-9252-4aec-946e-c2313e8d214d,1964-1965,1963-1964
16,NaN,1964-1973 associates.XLS,703,NaN,1964.0,Michael,NaN,NCI,1961-1962,Johns Hopkins,...,NaN,COLVIN,NaN,0.217391,NaN,NaN,MICHAEL_nan_COLVIN_nan_Washington University S...,1756f2e3-fa4f-4fbe-b45c-4ef79ba7f8ee,1962-1963,1961-1962
17,NaN,1964-1973 associates.XLS,763,NaN,1967.0,Clyde,NaN,NIAID,1965-1966,Boston City Hospital,...,NaN,CRUMPACKER,II,0.1875,NaN,NaN,CLYDE_nan_CRUMPACKER_nan_Harvard Medical Schoo...,a81633e7-56a2-4f9a-a636-e9e6dddd35ac,1966-1967,1965-1966
18,NaN,1964-1973 associates.XLS,813,NaN,1964.0,John,NaN,NIMH,1960-1961,Massachusetts General,...,LUCIAN,DAVIS,NaN,0.177778,VANDERBILT UNIVERSITY,VANDERBILT,JOHN_LUCIAN_DAVIS_VANDERBILT_Vanderbilt Univer...,03baa69d-ffba-4095-81f8-a1e5b43c898f,1961-1964,1960-1961
19,NaN,1964-1973 associates.XLS,872,NaN,1971.0,Charles,NaN,NIAID,1969-1970,Massachusetts General Hospital,...,ANTHONY,DINARELLO,NaN,0.186047,NaN,NaN,CHARLES_ANTHONY_DINARELLO_nan_Yale University ...,96c6f386-2c55-4052-9043-df8a52b5d9d8,1970-1971,1969-1970
20,NaN,1964-1973 associates.XLS,893,NaN,1970.0,Arthur,NaN,NIAMD,1969-1970,"Presbyterian-St. Luke's, Chicago, ILL",...,CURTIS,DORF,NaN,0.0983607,UNIVERSITY OF CHICAGO,UNIVERSITY OF CHICAGO,ARTHUR_CURTIS_DORF_UNIVERSITY OF CHICAGO_Alber...,fde49d8e-db0d-4b7a-882f-6afd6fa0f385,NaN,1969-1970
21,NaN,1964-1973 associates.XLS,918,NaN,1966.0,Robert,NaN,NIMH,1963-1964,"Cleveland Met. General Hospital, Medicine",...,NaN,DUPONT,JR,0.142857,NaN,NaN,ROBERT_nan_DUPONT_nan_Harvard Medical School_n...,228625cf-cccc-44e7-b1ba-6be0966e7051,1964-1966,1963-1964
22,NaN,1964-1973 associates.XLS,169,NaN,1966.0,Edward,NaN,NCI,1964-1965,"Strong Memorial Hospital, Rochester, N.Y.",...,A,BARKER,NaN,0.0816327,NaN,NaN,EDWARD_A_BARKER_nan_University of Washington S...,cef3bd5d-46e3-49d6-bf83-d72e1a795a9b,1965-1966,1965
23,NaN,1964-1973 associates.XLS,1315,NaN,1969.0,Morris,NaN,NCI,NaN,Bellevue Hospital,...,IRA,GLASSMAN,NaN,0.130435,UNIVERSITY OF PENNSYLVANIA,UNIVERSITY OF PENNSYLVANIA,MORRIS_IRA_GLASSMAN_UNIVERSITY OF PENNSYLVANIA...,40c73324-33b8-4fa4-b6a9-db545a388f34,NaN,1968
24,NaN,1964-1973 associates.XLS,993,NaN,1969.0,Henry,NaN,NIAMD,NaN,NaN,...,FREDERIC,EPSTEIN,NaN,0.222222,COLUMBIA UNIVERSITY,COLUMBIA,HENRY_FREDERIC_EPSTEIN_COLUMBIA_Stanford Unive...,610903b8-465a-4849-9e51-309b5ad452be,NaN,NaN
25,NaN,1964-1973 associates.XLS,982,NaN,1968.0,Jerome,NaN,NINDB,1966-1967,Indiana University Medical Center,...,NaN,ENGEL,JR,0.139535,NaN,NaN,JEROME_nan_ENGEL_nan_Stanford University Schoo...,da87f59d-0a7e-4199-b80b-8e70da24ea8f,1967-1968,1966-1967
26,NaN,1964-1973 associates.XLS,1000,NaN,1967.0,Robert,NaN,NIAMD,1965-1966,New York Hospital,...,CLAYTON,ERICKSON,NaN,0.208333,NaN,NaN,ROBERT_CLAYTON_ERICKSON_nan_Vanderbilt Univers...,1215ddff-d3fa-473e-af76-c443c973095e,1966-1967,1965-1966
27,NaN,1964-1973 associates.XLS,1037,NaN,1971.0,Gary,NaN,NHI,1969-1970,H.C. Moffitt University of California Hospital,...,STEVAN,FARNHAM,NaN,0.097561,COLORADO STATE UNIVERSITY,COLORADO STATE,GARY_STEVAN_FARNHAM_COLORADO STATE_Yale Univer...,5c9c5db4-c350-436d-8f63-71c984278f91,1970-1971,1969-1970
28,NaN,1964-1973 associates.XLS,1101,NaN,1965.0,Terrance,NaN,NHI,1962-1963,Milwaukee County General,...,NaN,FISHER,NaN,0.545455,NaN,NaN,TERRANCE_nan_FISHER_nan_other_nan,d8c58405-b401-4b57-a0ab-68c281b46672,1963-1965,1962-1963
29,NaN,1964-1973 associates.XLS,1205,NaN,1966.0,James,NaN,NHI,NaN,Duke Hospital,...,C A,FUCHS,NaN,0.125,NaN,NaN,JAMES_C A_FUCHS_nan_Johns Hopkins University S...,b02aa141-d3a1-430e-8e1e-8df5691d11f4,1965-1966,1964-1965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,NaN,Associates alpha by institute.XLS,257,NaN,1977.0,Richard,NaN,NIAID,NaN,NaN,...,ALBIN,BERG,NaN,0.0677966,WICHITA STATE UNIVERSITY,WICHITA STATE,RICHARD_A_BERG_nan_Joan & Sanford I. Weill Med...,af35b728-d469-4b1c-95d2-924bc7321ebb,1976-1977,NaN
141,NaN,Associates alpha by institute.XLS,1118,NaN,1962.0,William,NaN,NIAID,1958-1959,Vanderbilt,...,NaN,FLEET,JR,0.133333,NaN,NaN,WILLIAM_nan_FLEET_nan_Vanderbilt University Sc...,d43fab17-1260-4f77-b062-80ac2a83b6c8,1959-1960,1958-1959
142,NaN,Associates alpha by institute.XLS,1967,NaN,1975.0,Mark,NaN,NIAID,1973-1974,Massachusetts General Hospital,...,STEVEN JOEL,KLEMPNER,NaN,0.15873,TULANE UNIVERSITY,TULANE,MARK_STEVEN JOEL_KLEMPNER_TULANE_Joan & Sanfor...,c1b962ab-d6e7-48ab-87ad-127edec780f7,1974-1975,1973-1974
143,NaN,Associates alpha by institute.XLS,2738,NaN,1981.0,John,NaN,NIAID,1978-1979,"SUNY Upstate; Syracuse, New York",...,STEWART,O SHEA,NaN,0.204082,NaN,NaN,JOHN_STEWART_O SHEA_nan_Johns Hopkins Universi...,2da68f4e-a2b8-49bb-918c-f6ef7f7ba1f4,1971-1972,1970-1971
144,NaN,Associates alpha by institute.XLS,3492,NaN,1962.0,James,NaN,NIAID,1960-1961,Colorado General Hospital,...,GOURTLANXL,SMITH,NaN,0.181818,NaN,NaN,JAMES_GOURTLANXL_SMITH_nan_University of Minne...,947b6977-6b06-4368-b23a-c59099980b47,1961-1962,1971-1972
145,NaN,Associates alpha by institute.XLS,3945,NaN,1974.0,Theodore,NaN,NIAID,NaN,NaN,...,PAUL,WERBLIN,NaN,0.266667,PRINCETON UNIVERSITY,PRINCETON,NaN,4bdee24b-788c-4e0c-ad71-0e4cce4b54da,1973-1974,NaN
146,NaN,Associates alpha by institute.XLS,929,NaN,1974.0,Richard,NaN,NIAMD,NaN,Beth. Israel Hospital,...,C,EASTMAN,NaN,0.206897,STANFORD UNIVERSITY,STANFORD,RICHARD_C_EASTMAN_STANFORD_Harvard Medical Sch...,07066fbc-c550-48a1-bd5e-2a8fdc40ab00,1973-1974,1972-1973
147,NaN,Associates alpha by institute.XLS,1764,NaN,1960.0,George,NaN,NIAMD,1958-1959,Massachusetts General,...,NaN,JACOBY,JR,0.214286,NaN,NaN,GEORGE_nan_JACOBY_nan_Harvard Medical School_9...,07c4b72f-d134-4150-b143-79f0dd5497c5,1959-1960,1958-1959
148,NaN,Associates alpha by institute.XLS,2515,NaN,1959.0,Henry,NaN,NIAMD,1957-1958,"Presbyterian, N.Y.",...,21551,METZGER,NaN,0.196721,NaN,NaN,HENRY_21551_METZGER_nan_Columbia University Co...,8fe4cf6c-d72c-483e-b0e6-20fd490b21e4,1958-1959,1957-1958
149,NaN,Associates alpha by institute.XLS,3987,NaN,1960.0,Hibbard,NaN,NIAMD,NaN,NaN,...,NaN,WILLIAMS,NaN,0,NaN,NaN,HIBBARD_nan_WILLIAMS_nan_nan_nan,2b0518ea-9ff9-47ff-a86a-91a9139a3178,NaN,NaN
150,NaN,Associates alpha by institute.XLS,1233,NaN,1976.0,David,NaN,NIAMDD,1974-1975,NaN,...,FRANKLIN,GARDNER,NaN,0.133333,BROWN UNIVERSITY,BROWN,DAVID_FRANKLIN_GARDNER_BROWN_New York Universi...,f3a8126b-c75c-4842-8bae-6eb1d07d50c7,1975-1976,1971-1972
151,NaN,Associates alpha by institute.XLS,1704,NaN,1976.0,Kenneth,NaN,NICHD,1974-1975,Johns Hopkins Hospital,...,R,HUFF,NaN,0.12766,WABASH COLLEGE,WABASH,KENNETH_R_HUFF_WABASH_Johns Hopkins University...,a951fd50-b64f-4074-b420-481d931f19e2,1975-1976,1974-1975
152,NaN,Associates alpha by institute.XLS,2919,NaN,1975.0,Fred,NaN,NICHD,1973-1974,"Mt. Sinai, NY",...,IRWIN,POLSKY,NaN,0.0952381,NaN,NaN,FRED_IRWIN_POLSKY_nan_University of Texas Sout...,01548a65-d31d-4ef5-b344-89a2e4b4a6c3,1974-1975,1973-1974
153,NaN,Associates alpha by institute.XLS,3553,NaN,1975.0,Stephen,NaN,NICHD,1973-1974,NaN,...,PAUL,SPIELBERG,NaN,0.137931,PRINCETON UNIVERSITY,PRINCETON,STEPHEN_PAUL_SPIELBERG_PRINCETON_University of...,75cd33e1-28e9-4a9f-a3d3-5a5b4189cce7,1974-1975,1973-1974
154,NaN,Associates alpha by institute.XLS,4082,NaN,1975.0,Frank,NaN,NICHD,NaN,"University Hospital, San Diego",...,CHI PONG,YIN,NaN,0.153846,NaN,NaN,FRANK_CHI PONG_YIN_nan_UCSD School of Medicine...,e2c72d51-ee06-4ec4-ab07-c5b3511f0787,NaN,1973
155,NaN,Associates alpha by institute.XLS,103,NaN,1961.0,Howell,NaN,NIDR,NaN,Dental Internship,...,O,ARCHARD,JR,0,NaN,NaN,HOWELL_O_ARCHARD_nan_nan_nan\nnan_nan_ARCHARD_...,76678d10-5230-4666-b3f1-37ec0258661e,NaN,NaN
156,NaN,Associates alpha by institute.XLS,1868,NaN,1974.0,Stuart,NaN,NIDR,NaN,NaN,...,SUCHIN,KASSAN,NaN,0.150943,NaN,NaN,STUART_nan_KASSAN_nan_George Washington Univer...,a111897c-33cc-44c9-ae60-a9f9d3879d39,1973-1974,1972
157,NaN,Associates alpha by institute.XLS,502,NaN,1960.0,William,NaN,NIMH,NaN,NaN,...,EUGENE,BUNNEY,JR,0,NaN,NaN,WILLIAM_EUGENE_BUNNEY_nan_nan_nan\nnan_E_BUNNE...,dee43ced-8292-4914-9234-deb09306a875,NaN,NaN
158,NaN,Associates alpha by institute.XLS,677,NaN,1977.0,Robert,NaN,NIMH,NaN,NaN,...,HOWARD,COHEN,NaN,0.186047,NaN,NaN,ROBERT_HOWARD_COHEN_nan_New York University Sc...,befa42ba-5eb9-460d-af8c-9daf4ad9d524,NaN,1969-1970
159,NaN,Associates alpha by institute.XLS,1643,NaN,1962.0,Myron,NaN,NIMH,1958-1959,Massachusetts General Hospital,...,ARMS,HOFER,NaN,0.148148,NaN,NaN,MYRON_A_HOFER_nan_Harvard Medical School_nan\n...,51cd3eb4-a082-4bfc-94ce-5814fb415ac4,1959-1961,1958-1959
160,NaN,Associates alpha by institute.XLS,2526,NaN,1962.0,Robert,NaN,NIMH,1958-1959,"Mt. Sinai, NYC",...,21730,MICHELS,NaN,0.222222,NaN,NaN,ROBERT_21730_MICHELS_nan_Northwestern Universi...,29c51107-1d33-406a-b7fc-005914c0bbfd,NaN,1958-1959
161,NaN,Associates alpha by institute.XLS,2972,NaN,1974.0,Richard,NaN,NIMH,1973-1974,"Mount Sinai Hospital, New York",...,J,RADNA,NaN,0.0689655,NaN,NaN,RICHARD_J_RADNA_nan_Mount Sinai School of Medi...,67ec1f9b-6ffe-496e-b661-c894958c0d5c,1973-1974,1973
162,NaN,Associates alpha by institute.XLS,3029,NaN,1962.0,David,NaN,NIMH,NaN,Buffalo General Hospital,...,A,REISS,NaN,0.296296,NaN,NaN,DAVID_nan_REISS_nan_Harvard Medical School_nan...,0e288759-1d7b-4016-91c8-d8b252a66cdc,1963-1966,1962-1963
163,NaN,Associates alpha by institute.XLS,3441,NaN,1987.0,Michael,NaN,NIMH,1984-1985,New York University; Bellevue,...,A,SILVER,NaN,0.156863,NaN,NaN,MICHAEL_A_SILVER_nan_University of Pennsylvani...,09bb5af9-0ab3-44e7-90ee-620a74293f3c,NaN,1971-1972
164,NaN,Associates alpha by institute.XLS,2696,NaN,1976.0,Michael,NaN,NINCDS,NaN,NaN,...,EDE,NEWMARK,NaN,0.131148,COLUMBIA UNIVERSITY,COLUMBIA,MICHAEL_EDE_NEWMARK_COLUMBIA_Columbia Universi...,c66e5863-d726-409c-b0d1-cd5e086b2f49,NaN,NaN
165,NaN,Associates alpha by institute.XLS,1131,NaN,1962.0,Ernest,NaN,NINDB,1961-1962,USPHS Hospital,...,NaN,FOKES,JR,0.12,NaN,NaN,ERNEST_nan_FOKES_nan_Medical College of Georgi...,83ba072f-6f4e-4709-a3f0-626a350d5ae0,NaN,1961-1962
166,NaN,Associates alpha by institute.XLS,1382,NaN,1957.0,Spencer,NaN,NINDB,1956-1957,Johns Hopkins,...,NaN,GORDON,JR,0.214286,NaN,NaN,SPENCER_nan_GORDON_nan_Harvard Medical School_...,e9ced12f-83f2-4c1a-a07d-e0dc5f5079ce,NaN,1956-1957
167,NaN,Associates alpha by institute.XLS,2474,NaN,1962.0,Lee,NaN,NINDB,1961-1962,Duke Hospital,...,NaN,MCLAIN,JR,0.2,NaN,NaN,LEE_nan_MCLAIN_nan_Duke University School of M...,97abf07a-ce0c-4c93-932e-b9e6f8bbf73c,NaN,1961-1962
168,NaN,Associates alpha by institute.XLS,3048,NaN,1976.0,John,NaN,NINDS,1973-1974,University of Oregon,...,BALLANCE,RICHARDSON,NaN,0.150943,MICHIGAN STATE UNIVERSITY,MICHIGAN STATE,JOHN_BALLANCE_RICHARDSON_nan_Johns Hopkins Uni...,f6d016ea-3b08-4380-b9ea-4757591f3038,1974-1976,1973-1974
169,NaN,Associates alpha by institute.XLS,3024,NaN,1962.0,Lawrence,NaN,OIR,1961-1962,Jefferson Davis Hospital,...,LAWRENCE,REINER,JR,0.3125,NaN,NaN,LAWRENCE_nan_REINER_nan_Baylor College of Medi...,4181cc51-7ada-4471-a849-0ab332d333e3,1962-1963,1961-1962

In [74]:
first_last_matches = pd.merge(left=not_matched_attendees, right=not_matched_apps, left_on=['clean_firstname', 'clean_lastname'], right_on=[
        'clean_first_name', 'clean_last_name'], how='inner')

In [76]:
# drop matches where middle names totally different or colleges totally different
first_last_matches[['res_dtes_x', 'res_dtes_yintern_dte_x', 'intern_dte_y' 'clean_middlename']]

KeyError: "['res_dtes' 'intern_dte'] not in index"

In [75]:
first_last_matches.shape

(170, 105)

In [ ]:
fuzzy = pd.merge(left)

In [ ]:
test2.loc[test2.clean_lastname=='ANDERSON', :]

In [ ]:
# for med school, strip school of med and then check string sim
test2.loc[:, ['clean_firstname', 'dno', 'clean_middlename', 'uuid', 'clean_lastname']]
test2.loc[test2.duplicated(['uuid'], keep=False), ['medical_school', 'med_school', 'clean_firstname', 'dno', 'clean_middlename', 'clean_middle_name', 'uuid', 'clean_lastname']]

In [ ]:
not_matched_apps2 = not_matched_apps.loc[~not_matched_apps.uuid.isin(test2.uuid), :]
not_matched_attendees2 = not_matched_attendees.loc[~not_matched_attendees.dno.isin(test2.dno), :]

In [ ]:
# not_matched_apps2.loc[:, ['clean_last_name', 'clean_first_name', 'medical_school']]
not_matched_apps2.loc[not_matched_apps2.clean_first_name=='LOUIS', ['clean_last_name', 'clean_first_name', 'medical_school']]

In [ ]:
not_matched_attendees2.loc[:, ['clean_lastname', 'clean_firstname', 'med_school']]

In [ ]:
not_matched_attendees.sort_values(['clean_lastname', 'clean_firstname']).loc[:, ['clean_lastname', 'clean_firstname', 'clean_middlename', 'med_school']]

In [ ]:
not_matched_apps.sort_values(['clean_last_name', 'clean_first_name']).loc[:, ['clean_last_name', 'clean_middle_name', 'clean_first_name', 'medical_school']]