In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
from dev import AAMC_DATA_DIR, APP_DATA_DIR, GRANT_DATA_DIR

In [3]:
# import NIH grant and stars data
grant_data = pd.read_stata(os.path.join(GRANT_DATA_DIR, 'grant_data.dta'))
stars_data = pd.read_stata(os.path.join(GRANT_DATA_DIR, 'stars_data.dta'))
grant_data.columns = map(lambda x: x.lower(), grant_data.columns)
stars_data.columns = map(lambda x: x.lower(), stars_data.columns)

In [4]:
# import aamc data file
aamc = pd.read_csv(os.path.join(AAMC_DATA_DIR, 'aamc_deduped_raw.csv'))

In [25]:
lname = 'Thames'
mname = 'D.'
fname = 'Marcus'
aamc_lname = lname.upper()
aamc_fname = fname.upper()

In [26]:
# check for aamc data for people
aamc.loc[(aamc.clean_last_name==aamc_lname)]
# aamc.loc[(aamc.clean_last_name==aamc_lname) & (aamc.clean_first_name==aamc_fname)]

,Unnamed: 0,aamc_id,aamc_id_2,birth_country_cd,birth_country_desc,birth_dt,birth_state_cd,clean_first_name,clean_last_name,clean_middle_initial,...,degree_country_1,degree_inst_1_desc,degree_type,degree_year_1,fname,ident_cat_desc,lname,mname,suffix_cd,yobb
36456,2436,10813472,NaN,NaN,NaN,09/25/1944,NaN,MARC,THAMES,NaN,...,NaN,NaN,MD,1962.0,Marc,WHITE,Thames,NaN,NaN,1944.0

In [21]:
stars_data.loc[stars_data['last']==lname]

Empty DataFrame
Columns: [newsetnb, fullname, first, middle, last, suffix, star_yob, star_yod, deg, mdyear, phdyear, exit, main_dept]
Index: []

In [22]:
grant_data.loc[(grant_data['last']==lname) & (grant_data['first']==fname), 'fullname'].unique()
# grant_data.loc[(grant_data['last']==lname), 'fullname'].unique()

array([], dtype=object)

In [24]:
# grant_data.loc[(grant_data['last']==lname) & (grant_data['first']==fname) & (grant_data['middle']==mname),:]
grant_data.loc[(grant_data['last']==lname) & (grant_data['first']==fname),:]
# grant_data.loc[(grant_data['last']==lname),:]

Empty DataFrame
Columns: [newsetnb, year, fullname, type, first, middle, last, suffix, activity, ptitle, ic, apptype, grantno, deptname, ipfcode, deg1, deg2, deg_cgaf, mdyear, phdyear, hphdyear]
Index: []

[0 rows x 21 columns]